@use "abstracts/tokens" as *

%heading
  line-height: $line-height-tight
  margin-block: $fluid-space-md $fluid-space-sm
  text-rendering: optimizeLegibility
  letter-spacing: -0.01em
  overflow-wrap: break-word
