# Jekyll output
_site/
.jekyll-cache/
.jekyll-metadata

# Sass/SCSS cache
.sass-cache/

# esbuild output directory
dist/

# Node.js dependencies and logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/editor files
.DS_Store
*.swp
*.swo
*.tmp

# VSCode settings (optional)
.vscode/
