---
layout: page
title: Categories
permalink: /categories
---

{%- assign sorted_categories = site.categories | sort -%}

<section class="categories-list" aria-labelledby="categories-list-heading">
  <h2 id="categories-list-heading" class="visually-hidden">Browse posts by category</h2>

  <div class="accordion" data-accordion>
    {%- for category in sorted_categories %}
      {%- assign category_name = category[0] -%}
      {%- assign category_slug = category_name | slugify -%}
      {%- assign posts = category[1] -%}
      {%- assign post_count = posts.size -%}

      <div class="accordion-item">
        <div class="accordion-header">
          <div class="accordion-title">
            {% icon folder %}
            {% icon folder-open %}
            <a href="{{ '/category/' | append: category_slug | relative_url }}" class="category-title" tabindex="0"
               aria-label="View all posts in {{ category_name }}">
              {{ category_name }}
            </a>
          </div>
          <span class="post-count">
            <span class="badge" aria-label="Total {{ post_count }} posts in {{ category_name }} category">
              {% include posts/count.html post_count = post_count %}
            </span>
          </span>
          <button type="button" class="btn-sm accordion-toggle" aria-expanded="false"
                  aria-label="Toggle all posts of {{ category_name }}"
                  aria-controls="{{ category_name | slugify }}-posts">
            {% icon arrow-down %}
          </button>
        </div>

        <div class="accordion-body" id="{{ category_name | slugify }}-posts">
          <ul class="list-group">
            {% for post in posts %}
              {%- assign published_at = post.published_at -%}
              <li class="list-group-item">
                <a href="{{ post.url | relative_url }}" class="post-title" title="{{ post.title }}" aria-label="Read post: {{ post.title }}">
                  {{ post.title }}
                </a>
                <span class="dotted-separator"></span>
                <span class="post-published-at">
                  {% timestamp {{ published_at }}, label:"Published on {{ published_at | date: "%B %d, %Y" }} at {{ published_at | date: '%I:%M %p' }}" %}
                </span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
