@use "sass:map"
@use "abstracts/variables/typography" as *

// Returns a responsive font-size for heading levels h1 to h6 using `clamp()`.
@function heading-size($level)
  $heading: map.get($heading-sizes, h#{$level})

  $min: map.get($heading, min)
  $max: map.get($heading, max)
  $vw: map.get($heading, vw)

  @return clamp($min, $vw, $max)
