.overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 50;
  background: radial-gradient(
    circle 300px at var(--x, -9999px) var(--y, -9999px),
    transparent 0%,
    rgba(0, 0, 0, 0.87) 100%
  );
  opacity: 1;
  transition: opacity 0.4s ease;

  &[data-enabled="false"] {
    opacity: 0;
  }
}

.toggleWrapper {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 51;
}

@media (hover: hover) {
  body {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACQSURBVHgBhZA9CsQgEIVnxCJHSJkjpFGw8wh7xD2KtRbmCClzhAVRdx6YLsQHyoifP/MxjeSct1KKl3Jl5kXG2Vo7rLUH9hlTSgmAp+cEY0zgGOMupz/0Eq31V0l2mqTW6lXvfaN5VoC/GSXMgqevGQgDSpSEGQhNyjl3Sv0GB7jkewVNMIDmxr8v6TaMi+gPLrNAA0C8lG8AAAAASUVORK5CYII=), auto;
  }
}
