<div class="code-block-wrapper">
  <div class="code-block-header" role="region" aria-label="Code block header">
    <div class="code-buttons">
      <span class="code-btn red" aria-hidden="true"></span>
      <span class="code-btn yellow" aria-hidden="true"></span>
      <span class="code-btn green" aria-hidden="true"></span>
    </div>
    <div class="code-lang">{{ include.language | upcase }}</div>
    <button class="btn btn-primary dcode-copy-btn" aria-label="Copy code">
      {% include svg.html name = "copy" %}
    </button>
  </div>
  {{ include.content }}
</div>
