{%- assign playground = site.data.playgrounds[include.id] -%}

<div class="playground">
  <!-- Toolbar -->
  <div class="toolbar">
    <div class="brand">
      <span class="dot close">{% svg circle-fill %}</span>
      <span class="dot minimize">{% svg circle-fill %}</span>
      <span class="dot maximize">{% svg circle-fill %}</span>
      <span class="title">Code Playground</span>
    </div>
    <div class="actions">
      <button class="cp-btn" data-cp-reset>{% svg skip-back %}</button>
      <button class="cp-btn" data-cp-reset>{% svg hash %}</button>
      <button class="cp-btn" data-cp-export>{% svg download %}</button>
      {% if playground.url %}
      <a href="{{ playground.url }}" class="cp-btn" target="_blank" title="Open in CodePen">{% svg external-link %}</a>
      {% endif %}
    </div>
  </div>

  <!-- Main -->
  <div class="pen" data-code-playground data-autorun="true">
    <div class="editors-col">
      <!-- Editor Tabs -->
      <div class="tabs" role="tablist" aria-label="Editor Tabs">
        {% if playground.code.html %}
        <button class="tab" role="tab" aria-selected="true" data-tab="html" id="tab-html">HTML</button>
        {% endif %}
        {% if playground.code.css %}
        <button class="tab" role="tab" aria-selected="false" data-tab="css" id="tab-css">CSS</button>
        {% endif %}
        {% if playground.code.js %}
        <button class="tab" role="tab" aria-selected="false" data-tab="js" id="tab-js">JS</button>
        {% endif %}
        <div class="spacer"></div>
      </div>

      <!-- Editors -->
      <div class="editors">
        {% if playground.code.html %}
        <div class="editor" role="tabpanel" aria-hidden="false" aria-labelledby="tab-html" data-editor="html">
          <div class="editor-actions">
            <button class="cp-btn" data-copy-target="#code-html" title="Copy code">{% svg clipboard-check %}</button>
            <button class="cp-btn" data-beautify="html" title="Beautify code">{% svg magic-wand %}</button>
          </div>
          <textarea spellcheck="false" id="code-html">{{ playground.code.html | escape }}</textarea>
        </div>
        {% endif %}
        {% if playground.code.css %}
        <div class="editor" role="tabpanel" aria-hidden="true" aria-labelledby="tab-css" data-editor="css">
          <div class="editor-actions">
            <button class="cp-btn" data-copy-target="#code-css" title="Copy code">{% svg clipboard-check %}</button>
            <button class="cp-btn" data-beautify="css" title="Beautify code">{% svg magic-wand %}</button>
          </div>
          <textarea spellcheck="false" id="code-css">{{ playground.code.css | escape }}</textarea>
        </div>
        {% endif %}
        {% if playground.code.js %}
        <div class="editor" role="tabpanel" aria-hidden="true" aria-labelledby="tab-js" data-editor="js">
          <div class="editor-actions">
            <button class="cp-btn" data-copy-target="#code-js" title="Copy code">{% svg clipboard-check %}</button>
            <button class="cp-btn" data-beautify="js" title="Beautify code">{% svg magic-wand %}</button>
          </div>
          <textarea spellcheck="false" id="code-js">{{ playground.code.js | escape }}</textarea>
        </div>
        {% endif %}
      </div>
    </div>

    <!-- Preview -->
    <div class="preview-col">
      <div class="preview">
        <div class="preview-tabs" role="tablist">
          <button class="tab" role="tab" aria-selected="true" data-preview="result">Result</button>
          <button class="tab" role="tab" aria-selected="false" data-preview="console">Console</button>
          <div class="spacer"></div>
          <label class="check">
            <input type="checkbox" data-cp-autorun checked /> Auto-run
          </label>
        </div>
        <div class="preview-panels">
          <div class="preview-panel" data-panel="result" aria-hidden="false">
            <div class="preview-actions">
              <button class="cp-btn" data-cp-run>{% svg refresh %}</button>
            </div>
            <iframe class="preview-iframe" title="Result"></iframe>
          </div>
          <div class="preview-panel" data-panel="console" aria-hidden="true">
            <div class="preview-actions">
              <button class="cp-btn" data-cp-clear-console>{% svg circle-slash %}</button>
            </div>
            <div class="console" id="cp-console"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
