{%- assign playground = site.data.playgrounds[include.id] -%}

<div class="playground">
  <!-- Toolbar -->
  <div class="toolbar">
    <div class="brand">
      <span class="dot close">{% svg circle-fill %}</span>
      <span class="dot minimize">{% svg circle-fill %}</span>
      <span class="dot maximize">{% svg circle-fill %}</span>
      <span class="title">Code Playground</span>
    </div>
    <div class="actions">
      <button class="cp-btn" data-cp-export>{% svg download %}</button>
    </div>
  </div>

  <!-- Main -->
  <div class="pen" data-code-playground data-autorun="true">
    <div class="editors-col">
      <!-- Editor Tabs -->
      <div class="tabs" role="tablist" aria-label="Editor Tabs">
        <button class="tab" role="tab" aria-selected="true" data-tab="html" id="tab-html">HTML</button>
        <button class="tab" role="tab" aria-selected="false" data-tab="css" id="tab-css">CSS</button>
        <button class="tab" role="tab" aria-selected="false" data-tab="js" id="tab-js">JS</button>
        <div class="spacer"></div>
        <div class="inline">
          <button class="cp-btn" data-cp-reset>Reset</button>
          <button class="cp-btn" data-cp-copy title="Copy active panel">Copy</button>
        </div>
      </div>

      <!-- Editors -->
      <div class="editors">
        <div class="editor" role="tabpanel" aria-hidden="false" aria-labelledby="tab-html" data-editor="html">
          <textarea spellcheck="false">{{ playground.html | escape }}</textarea>
        </div>
        <div class="editor" role="tabpanel" aria-hidden="true" aria-labelledby="tab-css" data-editor="css">
          <textarea spellcheck="false">{{ playground.css | escape }}</textarea>
        </div>
        <div class="editor" role="tabpanel" aria-hidden="true" aria-labelledby="tab-js" data-editor="js">
          <textarea spellcheck="false">{{ playground.js | escape }}</textarea>
        </div>
      </div>
    </div>

    <!-- Preview -->
    <div class="preview-col">
      <div class="preview">
        <div class="preview-tabs" role="tablist">
          <button class="tab" role="tab" aria-selected="true" data-preview="result">Result</button>
          <button class="tab" role="tab" aria-selected="false" data-preview="console">Console</button>
          <div class="spacer"></div>
          <label class="check">
            <input type="checkbox" data-cp-autorun checked /> Auto-run
          </label>
          <button class="cp-btn" data-cp-run>Run</button>
        </div>
        <div class="preview-panels">
          <div class="preview-panel" data-panel="result" aria-hidden="false">
            <iframe class="iframe" title="Result"></iframe>
          </div>
          <div class="preview-panel" data-panel="console" aria-hidden="true">
            <div class="console" id="cp-console">
              <div class="console-actions">
                <button class="cp-btn" data-cp-clear-console>Clear</button>
              </div>
              <div class="console-log-area"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
