{%- assign page = include.page -%}
{%- assign cover_image = page.cover_image -%}

{% if cover_image %}
  <figure class="cover-image">
    <img
      src="{{ cover_image.path | relative_url }}"
      class="img-fluid"
      {% if cover_image.width %}width="{{ cover_image.width }}"{% endif %}
      {% if cover_image.height %}height="{{ cover_image.height }}"{% endif %}
      {% if cover_image.alt %}alt="{{ cover_image.alt }}"{% else %}alt="Cover image of {{ page.title }}"{% endif %}
      loading="lazy"
    >
    {% if cover_image.alt %}
      <figcaption>{{ cover_image.alt }}</figcaption>
    {% endif %}
  </figure>
{% endif %}
