{% assign date = include.date | default: "now" %}
{% assign wrap_element = include.wrap | default: "time" %}
{% assign format = include.format | default: "%B %d, %Y" %}

<{{ wrap_element }}
  datetime="{{ date | date_to_xmlschema }}"
  aria-label="Published on {{ date | date: format }} at {{ date | date: '%I:%M %p' }}"
  {% unless wrap_element != "time" %}
    role="time"
  {% endunless %}
  {% if include.class %}
    class="{{ include.class }}"
  {% endif %}
  {% if include.tooltip %}
    data-tooltip="{{ date | date: '%a, %B %d, %Y %I:%M %p' }}"
    data-tooltip-position="bottom"
    tabindex="0"
  {% endif %}
>
  {{ date | date: format }}
</{{ wrap_element }}>
