<header class="site-header">
  <a href="/" class="site-logo">
    <img src="{{ '/assets/img/smiling-face.png' | relative_url }}" alt="{{ site.author.name }}" class="avatar" loading="lazy">
    <span class="site-name">
      <span class="first-name">Harshal</span>
      <span class="middle-initial">
        <svg version="1.0" class="v-mark" viewBox="0 0 9 10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" aria-hidden="true">
          <path d="M1 1 C2.23995 2.87536 3.87268 4.81073 4.17593 7.40074 C4.22017 7.77863 4.11111 9.268437 4.11111 8.95767 C4.11111 8.50868 4.41831 7.96848 4.55761 7.59295 C4.98522 6.44023 5.31447 5.30676 5.92593 4.29648 C6.43274 3.45908 7.08081 2.03796 8 2.03796" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" class="v-draw" />
        </svg>
      </span>
      <span class="last-name">LADHE</span>
    </span>
  </a>

  <nav class="nav-links" role="navigation" aria-label="Main Navigation">
    {% for item in site.data.main_nav %}
      {% if item.href contains "http" %}
         <a href="{{ item.href }}" class="nav-link" target="_blank" rel="noopener noreferrer" {% if page.url == item.href %} aria-current="page" {% endif %}>
           {{ item.title }}
         </a>
      {% else %}
         <a href="{{ item.href | relative_url }}" class="nav-link" {% if page.url == item.href %} aria-current="page" {% endif %}>
           {{ item.title }}
         </a>
      {% endif %}
    {% endfor %}
  </nav>

  <div class="header-actions">
    <button class="header-action search-toggle" aria-label="Search">
      {% svg search %}
    </button>

    <div class="dropdown" data-dropdown data-theme-switcher>
      <button type="button" class="dropdown-toggle header-action theme-toggle" aria-haspopup="true" aria-expanded="false" aria-label="Toggle color scheme">
        {% svg adjust %}
      </button>

      <ul class="dropdown-menu" role="menu" aria-label="Available color schemes" data-theme-switcher-list>
        <div class="dropdown-arrow" data-popper-arrow aria-hidden="true"></div>
        {%- for item in site.data.color_schemes %}
          <li>
            <button type="button" class="dropdown-item" role="menuitem" aria-label="{{ item.description | default: item.label }}"
                    data-color-scheme="{{ item.key }}" data-theme-switcher-list-items>
              {% svg {{ item.icon }} %}
              {{ item.label }}
            </button>
          </li>
        {%- endfor %}
      </ul>
    </div>

    <a href="{{ '/atom.xml' | relative_url }}" class="header-action atom-feed" aria-label="Atom Feed" target="_blank"
       rel="alternate" type="application/atom+xml" data-analytics-event="subscribe_feed" data-analytics-label="Atom Feed"
       data-analytics-category="engagement">
       {% svg atom %}
    </a>

    <button class="header-action toggle-menu" aria-label="Toggle menu" aria-controls="header-drawer">
      {% svg hamburger %}
    </button>
  </div>
</header>
