<header class="site-header">
  <a href="/" class="site-logo">
    <img src="{{ '/assets/img/smiling-face.png' | relative_url }}" alt="{{ site.author.name }}" class="avatar" loading="lazy">
    <span class="site-name">{{ site.author.name }}</span>
  </a>

  <nav class="nav-links" role="navigation" aria-label="Main Navigation">
    {% for item in site.data.main_nav %}
      {% if item.href contains "http" %}
         <a href="{{ item.href }}" class="nav-link" target="_blank" rel="noopener noreferrer" {% if page.url == item.href %} aria-current="page" {% endif %}>
           {{ item.title }}
         </a>
      {% else %}
         <a href="{{ item.href | relative_url }}" class="nav-link" {% if page.url == item.href %} aria-current="page" {% endif %}>
           {{ item.title }}
         </a>
      {% endif %}
    {% endfor %}
  </nav>

  <div class="header-actions">
    <button class="header-action search-toggle" aria-label="Search">
      {% icon search %}
    </button>

    <div class="dropdown" data-dropdown data-theme-switcher>
      <button type="button" class="dropdown-toggle header-action theme-toggle" aria-haspopup="true" aria-expanded="false" aria-label="Toggle color scheme">
        {% icon adjust %}
      </button>

      <ul class="dropdown-menu" role="menu" aria-label="Available color schemes" data-theme-switcher-list>
        <div class="dropdown-arrow" data-popper-arrow aria-hidden="true"></div>
        {%- for item in site.data.color_schemes %}
          <li>
            <button type="button" class="dropdown-item" role="menuitem" aria-label="{{ item.description | default: item.label }}"
                    data-color-scheme="{{ item.key }}" data-theme-switcher-list-items>
              {% icon {{ item.icon }} %}
              {{ item.label }}
            </button>
          </li>
        {%- endfor %}
      </ul>
    </div>

    <a href="{{ '/atom.xml' | relative_url }}" class="header-action atom-feed" aria-label="Atom Feed" target="_blank"
       rel="alternate" type="application/atom+xml" data-analytics-event="subscribe_feed" data-analytics-label="Atom Feed"
       data-analytics-category="engagement">
       {% icon atom %}
    </a>

    <button class="header-action toggle-menu" aria-label="Toggle menu" aria-controls="header-drawer">
      <svg class="icon icon-hamburger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="3" y1="5" x2="21" y2="5" />
        <line x1="3" y1="12" x2="21" y2="12" />
        <line x1="3" y1="19" x2="21" y2="19" />
      </svg>
    </button>
  </div>
</header>
