<div class="hero" role="banner" aria-labelledby="hero-title">
  <div class="hero-content">
    <img src="{{ '/assets/img/profile-img.png' | relative_url }}" alt="{{ site.author.name }}" class="profile-pic" loading="lazy">
    <h1 id="hero-title" class="hero-title">Hi, I'm {{ site.author.name }} 👋</h1>
    <p class="hero-subtitle lead">
      I'm
      {% assign role_list = site.author.roles | join: "," -%}
      <span id="hero-highlight" class="hero-highlight typed" data-typed-items="{{ role_list }}"></span>
    </p>
    <hr/>
    <nav class="hero-links" aria-label="Hero links">
      <a href="/about" class="hero-link">
        {% icon info-circle %}
        About
      </a>
      {%- for entry in site.data.hero_contact %}
        {%- assign link = entry.href | replace: "VALUE", site.author[entry.type] -%}
        {%- if entry.type == "resume" -%}
          {%- assign link = link | relative_url -%}
        {%- endif -%}

        <a href="{{ link }}" class="hero-link" target="_blank"
           {% if entry.analytics %}
             data-analytics-event="{{ entry.analytics.event }}"
             data-analytics-label="{{ entry.analytics.label }}"
             data-analytics-category="{{ entry.analytics.category }}"
           {% endif %}>
          {% icon {{ entry.icon }} %}
          {{ entry.label }}
        </a>
      {%- endfor %}
    </nav>
  </div>
  <div class="scroll-indicator">
    <button class="scroll-indicator-anchor" data-skip-link aria-label="Skip to main content">
      <div class="animate-bounce">{% icon arrow-down %}</div>
    </button>
  </div>
</div>
