<div class="hero" role="banner" aria-labelledby="hero-title">
  <div class="hero-content">
    <img src="{{ '/assets/img/profile-img.png' | relative_url }}" alt="{{ site.author.name }}" class="profile-pic" loading="lazy">
    <h1 id="hero-title" class="hero-title">{{ site.author.name }}</h1>
    <p class="hero-subtitle lead">
      I'm
      {% assign role_list = site.author.roles | join: "," -%}
      <span id="hero-highlight" class="hero-highlight typed" data-typed-items="{{ role_list }}"></span>
    </p>
    <hr/>
    <nav class="hero-links" aria-label="Hero links">
      <a href="/about" class="hero-link">
        {% icon info-circle %}
        About
      </a>
      <a href="{{ site.author.resume | relative_url }}" class="hero-link">
        {% icon file %}
        Resume
      </a>
      <a href="mailto:{{ site.author.email }}" class="hero-link" target="_blank">
        {% icon envelope %}
        Email me
      </a>
      <a href="https://www.github.com/{{ site.author.github_username }}" class="hero-link" target="_blank">
        {% icon github %}
        GitHub
      </a>
      <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" class="hero-link" target="_blank">
        {% icon linkedin %}
        LinkedIn
      </a>
      <a href="https://www.instagram.com/{{ site.author.instagram_username }}" class="hero-link" target="_blank">
        {% icon instagram %}
        Instagram
      </a>
    </nav>
  </div>
</div>
