<nav class="navigation" aria-label="{% if page.layout == 'post' %}Post{% else %}Series{% endif %} navigation">
  {%- if page.previous %}
  <a href="{{ page.previous.url }}" class="navigation-link" rel="previous">
    <span class="label">Older</span>
    <span class="title">{{ page.previous.title }}</span>
  </a>
  {%- else %}
  <div class="navigation-link disabled" role="link" aria-disabled="true" tabindex="-1">
    <span class="label">Older</span>
    <span class="title">—</span>
  </div>
  {%- endif %}

  {%- if page.next %}
  <a href="{{ page.next.url }}" class="navigation-link" rel="next">
    <span class="label">Newer</span>
    <span class="title">{{ page.next.title }}</span>
  </a>
  {%- else %}
  <div class="navigation-link disabled" role="link" aria-disabled="true" tabindex="-1">
    <span class="label">Newer</span>
    <span class="title">—</span>
  </div>
  {%- endif %}
</nav>
