{%- assign previous = page.previous -%}
{%- assign next = page.next -%}

{% if previous or next %}
<nav class="navigation" aria-label="{% if page.layout == 'post' %}Post{% else %}Series{% endif %} navigation">
  {%- if previous %}
  <a href="{{ previous.url }}" class="navigation-link" rel="previous">
    <span class="label">Older</span>
    <span class="title">{{ previous.title | titleify }}</span>
  </a>
  {%- else %}
  <div class="navigation-link disabled" role="link" aria-disabled="true" tabindex="-1">
    <span class="label">Older</span>
    <span class="title">—</span>
  </div>
  {%- endif %}

  {%- if next %}
  <a href="{{ next.url }}" class="navigation-link" rel="next">
    <span class="label">Newer</span>
    <span class="title">{{ next.title | titleify }}</span>
  </a>
  {%- else %}
  <div class="navigation-link disabled" role="link" aria-disabled="true" tabindex="-1">
    <span class="label">Newer</span>
    <span class="title">—</span>
  </div>
  {%- endif %}
</nav>
{% endif %}
