{%- assign total_pages = paginator.total_pages -%}

<div class="pagination-wrapper">
  {% if total_pages > 1 %}
  <nav class="pagination" role="navigation" aria-label="Pagination">
    {%- if paginator.previous_page -%}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="page-link" aria-label="Newer" rel="prev">
        {% svg chevron-left %}
        Newer
      </a>
    {%- endif -%}

    {%- if paginator.next_page -%}
      <a href="{{ paginator.next_page_path | relative_url }}" class="page-link" aria-label="Older" rel="next">
        Older
        {% svg chevron-right %}
      </a>
    {%- endif -%}
  </nav>
  {% endif %}
</div>
