<button class="btn btn-primary sidebar-toggle" id="sidebar-toggle" aria-label="Toggle Sidebar" aria-controls="sidebar" aria-expanded="false">
  <span class="icon-bar top-bar"></span>
  <span class="icon-bar middle-bar"></span>
  <span class="icon-bar bottom-bar"></span>
</button>
<aside class="sidebar" id="sidebar" role="complementary" aria-label="Sidebar">
  <div class="sidebar-content">
    <div class="sidebar-top">
      <a href="/">
        <img src="{{ '/assets/img/profile-img.png' | relative_url }}" alt="{{ site.author.name }}" class="profile-pic" loading="lazy">
      </a>
      <div class="site-title">{{ site.title }}</div>
      <div class="site-subtitle">A showcase of technical blog posts, coding insights, and open source projects.</div>
    </div>
    <div class="sidebar-social" role="navigation" aria-label="Social Links">
      <a href="https://www.github.com/{{ site.author.github_username }}" class="btn btn-primary social-icon" target="_blank" data-tooltip="GitHub" aria-label="GitHub">
        {% icon github %}
      </a>
      <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" class="btn btn-primary social-icon" target="_blank" data-tooltip="LinkedIn" aria-label="LinkedIn">
        {% icon linkedin %}
      </a>
      <a href="https://www.instagram.com/{{ site.author.instagram_username }}" class="btn btn-primary social-icon" target="_blank" data-tooltip="Instagram" aria-label="Instagram">
        {% icon instagram %}
      </a>
      <a href="mailto:{{ site.author.email }}" class="btn btn-primary social-icon" target="_blank" data-tooltip="Email {{ site.author.email }}" aria-label="Email {{ site.author.email }}">
        {% icon envelope %}
      </a>
      <a href="{{ site.author.resume | relative_url }}" class="btn btn-primary social-icon" target="_blank" aria-label="Download resume" data-tooltip="Download resume"
      data-analytics-event="download_resume" data-analytics-label="resume.pdf" data-analytics-category="engagement">
        {% icon file %}
      </a>
    </div>
    <hr/>
    <nav class="sidebar-nav" role="navigation" aria-label="Main Navigation">
      {% for item in site.nav %}
        {% if item.href contains "http" %}
           <a href="{{ item.href }}" class="sidebar-nav-link" target="_blank" rel="noopener noreferrer" {% if page.url == item.href %} aria-current="page" {% endif %}>
             {% icon {{item.icon}} %}
             {{ item.title }}
           </a>
        {% else %}
           <a href="{{ item.href | relative_url }}" class="sidebar-nav-link" {% if page.url == item.href %} aria-current="page" {% endif %}>
             {% icon {{item.icon}} %}
             {{ item.title }}
           </a>
        {% endif %}
      {% endfor %}
    </nav>
    <div class="sidebar-bottom" aria-label="Preferences panel">
      <div class="dropdown" data-dropdown data-theme-switcher>
        <button type="button" class="dropdown-toggle theme-switcher bottom-link" aria-haspopup="true" aria-expanded="false">
          {% icon adjust %}
        </button>

        <ul class="dropdown-menu" role="menu" aria-label="Available color schemes" data-theme-switcher-list>
          {% for item in site.color_schemes %}
            <li>
              <button type="button" class="dropdown-item" role="menuitem" data-color-scheme="{{ item.key }}" data-theme-switcher-list-items>
                {% icon {{item.icon}} %}
                {{ item.display_label }}
              </button>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</aside>
