<button class="btn btn-primary sidebar-toggle" id="sidebar-toggle" aria-label="Toggle Sidebar" aria-controls="sidebar" aria-expanded="false">
  <span class="icon-bar top-bar"></span>
  <span class="icon-bar middle-bar"></span>
  <span class="icon-bar bottom-bar"></span>
</button>
<aside class="sidebar" id="sidebar" role="complementary" aria-label="Sidebar">
  <div class="sidebar-content">
    <div class="sidebar-top">
      <a href="/">
        <img src="{{ '/assets/img/profile-img.png' | relative_url }}" alt="{{ site.author.name }}" class="profile-pic" loading="lazy">
      </a>
      <div class="site-title">{{ site.title }}</div>
      <div class="site-subtitle">A showcase of technical blog posts, coding insights, and open source projects.</div>
    </div>
    <div class="sidebar-social" role="navigation" aria-label="Social Links">
      {%- for entry in site.data.contact %}
        {%- assign link = entry.href | replace: "VALUE", site.author[entry.type] -%}
        {%- if entry.type == "resume" -%}
          {%- assign link = link | relative_url -%}
        {%- endif -%}

        {%- assign title = entry.label -%}
        {%- if entry.type == "email" -%}
          {%- assign title = title | append: " " | append: value -%}
        {%- endif -%}

        <a href="{{ link }}" class="btn btn-primary social-icon" target="_blank"
           data-tooltip="{{ title }}" aria-label="{{ title }}"
           {% if entry.type == 'atom' %}rel="alternate" type="application/atom+xml"{% endif %}
           {% if entry.analytics %}
             data-analytics-event="{{ entry.analytics.event }}"
             data-analytics-label="{{ entry.analytics.label }}"
             data-analytics-category="{{ entry.analytics.category }}"
           {% endif %}>
          {% icon {{ entry.icon }} %}
        </a>
      {%- endfor %}
    </div>
    <hr/>
    <nav class="sidebar-nav" role="navigation" aria-label="Main Navigation">
      {% for item in site.data.nav %}
        {% if item.href contains "http" %}
           <a href="{{ item.href }}" class="sidebar-nav-link" target="_blank" rel="noopener noreferrer" {% if page.url == item.href %} aria-current="page" {% endif %}>
             {% icon {{item.icon}} %}
             {{ item.title }}
           </a>
        {% else %}
           <a href="{{ item.href | relative_url }}" class="sidebar-nav-link" {% if page.url == item.href %} aria-current="page" {% endif %}>
             {% icon {{item.icon}} %}
             {{ item.title }}
           </a>
        {% endif %}
      {% endfor %}
    </nav>
    <div class="sidebar-bottom" aria-label="Preferences panel">
      <div class="dropdown" data-dropdown data-theme-switcher>
        <button type="button" class="dropdown-toggle theme-switcher bottom-link" aria-haspopup="true" aria-expanded="false">
          {% icon adjust %}
        </button>

        <ul class="dropdown-menu" role="menu" aria-label="Available color schemes" data-theme-switcher-list>
        {%- for item in site.data.color_schemes %}
          <li>
            <button type="button" class="dropdown-item" role="menuitem" aria-label="{{ item.description | default: item.label }}"
                    data-color-scheme="{{ item.key }}" data-theme-switcher-list-items>
              {% icon {{ item.icon }} %}
              {{ item.label }}
            </button>
          </li>
        {%- endfor %}
        </ul>
      </div>
    </div>
  </div>
</aside>
