:root {
  --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --layout-offset-sm: 200px;
  --layout-offset-md: 250px;
  --layout-offset-lg: 300px;

  --bgColor-default: #ffffff;
  --bgColor-muted: #f6f8fa;
  --bgColor-emphasis: #25292e;
  --bgColor-accent-emphasis: #0969da;
  --bgColor-accent-muted: #ddf4ff;
  --bgColor-attention-emphasis: #9a6700;
  --bgColor-attention-muted: #fff8c5;

  --fgColor-default: #1f2328;
  --fgColor-accent: #0969da;
  --fgColor-muted: #59636e;
  --fgColor-onEmphasis: #ffffff;
  --fgColor-neutral: #59636e;
  --fgColor-severe: #bc4c00;
  --fgColor-danger: #d1242f;
  --fgColor-success: #1a7f37;
  --fgColor-link: var(--fgColor-accent);
  --fgColor-link-hover: #005a9c;
  --fgColor-visited: #4b0082;
  --fgColor-link-focus: var(--fgColor-link-hover);

  --borderColor-default: #d1d9e0;
  --borderColor-muted: #d1d9e0b3;
  --borderColor-accent-emphasis: #0969da;
  --borderColor-accent-muted: #54aeff66;

  --avatar-shadow: 0px 0px 0px 2px #ffffffcc;

  --tooltip-bgColor: var(--bgColor-emphasis);
  --tooltip-fgColor: var(--fgColor-onEmphasis);
  --tooltip-borderColor: var(--borderColor-emphasis);
  --tooltip-caretColor: var(--tooltip-bgColor);

  --control-bgColor: #f6f8fa;
  --control-bgColor-hover: #eff2f5;
  --control-fgColor: #25292e;
  --control-borderColor: var(--borderColor-default);
}
