:root {
  --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --layout-offset-sm: 200px;
  --layout-offset-md: 250px;
  --layout-offset-lg: 300px;

  --bgColor-default: #ffffff;
  --bgColor-muted: #f6f8fa;
  --bgColor-emphasis: #25292e;
  --bgColor-accent-emphasis: #0969da;
  --bgColor-accent-muted: #ddf4ff;
  --bgColor-attention-emphasis: #9a6700;
  --bgColor-attention-muted: #fff8c5;
  --bgColor-neutral-emphasis: #59636e;
  --bgColor-neutral-muted: #818b981f;
  --bgColor-inlineCode: #f6f6f7;
  --bgColor-highlight: #f7f7f7;

  --fgColor-default: #1f2328;
  --fgColor-accent: #0969da;
  --fgColor-muted: #59636e;
  --fgColor-onEmphasis: #ffffff;
  --fgColor-neutral: #59636e;
  --fgColor-severe: #bc4c00;
  --fgColor-danger: #d1242f;
  --fgColor-success: #1a7f37;
  --fgColor-link: var(--fgColor-accent);
  --fgColor-link-hover: #005a9c;
  --fgColor-visited: #4b0082;
  --fgColor-link-focus: var(--fgColor-link-hover);

  --borderColor-default: #d1d9e0;
  --borderColor-muted: #d1d9e0b3;
  --borderColor-accent-emphasis: #0969da;
  --borderColor-accent-muted: #54aeff66;
  --borderColor-neutral-muted: var(--borderColor-muted);

  --avatar-shadow: 0px 0px 0px 2px #ffffffcc;

  --tooltip-bgColor: var(--bgColor-emphasis);
  --tooltip-fgColor: var(--fgColor-onEmphasis);
  --tooltip-borderColor: var(--borderColor-emphasis);
  --tooltip-caretColor: var(--tooltip-bgColor);

  --control-bgColor: #f6f8fa;
  --control-bgColor-hover: #eff2f5;
  --control-fgColor: #25292e;
  --control-transparent-bgColor-hover: #818b981a;
  --control-borderColor: var(--borderColor-default);

  --color-prettylights-syntax-comment: #6a737d;
  --color-prettylights-syntax-error-text: #e05252;
  --color-prettylights-syntax-error-bg: #ffeef0;
  --color-prettylights-syntax-keyword: #d73a49;
  --color-prettylights-syntax-namespace: #6f42c1;
  --color-prettylights-syntax-number: #005cc5;
  --color-prettylights-syntax-string: #032f62;
  --color-prettylights-syntax-name: #22863a;
  --color-prettylights-syntax-builtin: #b31d28;
  --color-prettylights-syntax-decorator: #b392f0;
  --color-prettylights-syntax-entity: #795548;
  --color-prettylights-syntax-function: #005cc5;
  --color-prettylights-syntax-tag: #22863a;
  --color-prettylights-syntax-symbol: #e36209;
  --color-prettylights-syntax-subtle: #d1d5da;
  --color-prettylights-syntax-heading: #24292e;
  --color-prettylights-syntax-inserted-bg: #e6ffed;
  --color-prettylights-syntax-inserted-text: #22863a;
  --color-prettylights-syntax-deleted-bg: #ffeef0;
  --color-prettylights-syntax-deleted-text: #b31d28;
  --color-prettylights-syntax-output: #586069;
  --color-prettylights-syntax-meta: #444d56;
}
