{% if page.series %}
  <nav class="series-nav" aria-label="Series navigation">
    <header class="series-nav-header">
      <p class="series-meta">
        Part {{ page.series.index }} of {{ page.series.total }}
        in <a href="{{ "/series/" | append: page.series.id | relative_url }}">{{ page.series.meta.title }}</a>
      </p>
    </header>

    <ul class="series-links">
      {% if page.previous_in_series %}
        <li class="series-link series-link-prev">
          <a href="{{ page.previous_in_series.url | relative_url }}" class="series-nav-button" aria-label="Previous post in series: {{ page.previous_in_series.title }}">
            ⬅️ {{ page.previous_in_series.title }}
          </a>
        </li>
      {% endif %}
      {% if page.next_in_series %}
        <li class="series-link series-link-next">
          <a href="{{ page.next_in_series.url | relative_url }}" class="series-nav-button" aria-label="Next post in series: {{ page.next_in_series.title }}">
            {{ page.next_in_series.title }} ➡️
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
