@use "abstracts/tokens" as *
@use "abstracts/modules/section" as *
@use "abstracts/modules/no-cursor" as *
@use "abstracts/modules/text-clip" as *
@use "abstracts/mixins/transition-properties" as *
@use "abstracts/mixins/breakpoints" as breakpoint

.post-layout
  display: grid
  grid-template-columns: 80ch 1fr
  grid-template-areas: "post-content toc"
  column-gap: $space-xl
  margin-top: $space-base

  @include breakpoint.max(xl)
    grid-template-columns: 70ch 1fr
    column-gap: $space-md

  @include breakpoint.max(lg)
    grid-template-columns: 1fr
    grid-template-areas: "toc" "post-content"

  &:not(:has(.toc-wrapper))
    grid-template-columns: 1fr !important
    grid-template-areas: "post-content"

.post-content
  grid-area: post-content
  overflow-x: hidden
  min-width: 0
  @extend %no-cursor

  h1,
  h2
    @extend %section

.posts
  display: flex
  flex-direction: column
  gap: $fluid-space-base
  margin: $space-none
  padding: $space-none

.post-preview
  .post-series
    font-size: $font-size-sm
    color: var(--color-fg-muted)
    margin-top: $fluid-space-sm

.post-header
  display: flex
  flex-direction: column
  gap: $fluid-space-sm

.post-title
  margin: $space-none

.post-shortinfo
  font-size: $font-size-md
  font-weight: $font-weight-medium
  line-height: $line-height-relaxed
  color: var(--color-fg-accent-muted)
  margin-block: $space-sm

.post-excerpt
  margin: $space-none
  color: var(--color-fg-muted)

  @extend %text-clip

.post-footer
  margin-top: $fluid-space-lg

  .post-footer-content
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    gap: $space-base
    font-size: $font-size-sm
    color: var(--color-fg-muted)

    .copyright
      flex: 1 1 auto

    .share-icons
      display: flex
      gap: $fluid-space-xs
      align-items: center

      .share-link
        display: inline-flex
        align-items: center
        justify-content: center
        padding: $fluid-space-xs
        color: var(--color-fg-muted)
        font-size: 1em

        @include transition-properties(color, $duration: $motion-duration-default, $easing: $motion-easing-smooth)

        &:hover,
        &:focus
          background-color: var(--color-bg-transparent)
          color: var(--color-fg-default)

    @include breakpoint.max(md)
      flex-direction: column
      align-items: flex-start
      text-align: left
      gap: $space-base
