@use "abstracts/mixins/breakpoints" as breakpoint

.post-meta
  display: inline-grid
  grid-auto-flow: column
  grid-auto-columns: max-content
  justify-content: start
  align-items: center
  gap: var(--fluid-space-sm) var(--fluid-space-md)
  font-size: var(--font-size-sm)
  color: var(--color-fg-muted)

  > .post-meta-item
    display: inline-flex
    align-items: center
    gap: var(--space-xs)

  @include breakpoint.max(xl)
    display: grid
    grid-auto-flow: initial
    grid-template-columns: repeat(2, 1fr)

    > .post-meta-item:nth-child(even)
      justify-self: end

  @include breakpoint.max(sm)
    grid-template-columns: 1fr

    > .post-meta-item
      justify-self: start

    > .post-meta-item:nth-child(even)
      justify-self: start
