@use "themes"
@use "abstracts"
@use "base"
@use "layout"
@use "components"
@use "pages"
@use "vendors"

.code-block-wrapper
  border-radius: 5px
  overflow: hidden
  margin-bottom: 1em
  background: #2d2d2d

  figure
    margin-block: 0
    border-radius: 0
    border-top: none

.code-block-header
  background: #1e1e1e
  color: white
  padding: 5px 10px
  display: flex
  align-items: center
  justify-content: space-between
  font-family: monospace
  border: 1px solid var(--borderColor-muted)


.dots span
  height: 10px
  width: 10px
  border-radius: 50%
  display: inline-block
  margin-right: 5px


.dots span:nth-child(1)
  background: #ff5f56
.dots span:nth-child(2)
  background: #ffbd2e
.dots span:nth-child(3)
  background: #27c93f

.language
  flex: 1
  text-align: center
  font-size: 0.9em
  opacity: 0.75


.copy-button
  cursor: pointer
  font-size: 0.8em
  background: #444
  padding: 2px 6px
  border-radius: 3px
  user-select: none
