$dark: (
  color: (
    bg-default: hsl(210 15% 6%),
    bg-muted: hsl(213 20% 10%),
    bg-neutral-muted: hsl(213 8% 43% / 0.25),
    bg-neutral-emphasis: hsl(213 8% 43%),
    bg-disabled: hsl(213 15% 14%),
    bg-transparent: hsl(0 0% 0% / 0),
    bg-accent-emphasis: hsl(213 80% 54%),
    bg-accent-muted: hsl(213 90% 60% / 0.15),
    bg-success-emphasis: hsl(140 55% 38%),
    bg-success-muted: hsl(140 50% 40% / 0.15),
    bg-danger-emphasis: hsl(2 70% 50%),
    bg-danger-muted: hsl(2 85% 62% / 0.1),
    bg-attention-emphasis: hsl(21 73% 43%),
    bg-attention-muted: hsl(23 71% 51% / 0.1),

    fg-default: hsl(210 10% 90%),
    fg-muted: hsl(210 12% 60%),
    fg-neutral: hsl(215 8% 60%),
    fg-on-emphasis: hsl(0 0% 100%),
    fg-link: hsl(213 85% 60%),
    fg-link-hover: hsl(210 100% 35%),
    fg-link-visited: hsl(275 100% 25%),
    fg-link-focus: hsl(210 100% 35%),
    fg-disabled: hsl(213 8% 48%),
    fg-white: hsl(0 0% 100%),
    fg-accent: hsl(213 85% 60%),
    fg-accent-muted: hsl(199 42% 78%),
    fg-success: hsl(140 45% 48%),
    fg-danger: hsl(2 85% 62%),
    fg-attention: hsl(23 71% 51%),

    border-default: hsl(213 12% 24%),
    border-muted: hsl(213 12% 24% / 0.7),
    border-neutral-muted: hsl(213 12% 24% / 0.7),
    border-disabled: hsl(213 8% 43% / 0.1),
    border-transparent: hsl(0 0% 0% / 0),
    border-accent-emphasis: hsl(213 80% 54%),
    border-accent-muted: hsl(213 90% 60% / 0.4),
    border-success-emphasis: hsl(140 55% 38%),
    border-success-muted: hsl(140 50% 40% / 0.4),
    border-danger-emphasis: hsl(2 70% 50%),
    border-danger-muted: hsl(2 85% 62% / 0.4),
    border-attention-emphasis: hsl(21 73% 43%),
    border-attention-muted: hsl(23 71% 51% / 0.4),

    outline-focus: hsl(213 80% 54%),

    bg-control: hsl(213 18% 15%),
    bg-control-hover: hsl(219 17% 18%),
    fg-control: hsl(210 10% 90%),
    border-control: hsl(213 12% 24%),
    bg-control-disabled: hsl(213 15% 14%),
    fg-control-disabled: hsl(213 8% 48%),
    border-control-disabled: hsl(213 8% 43% / 0.1),
    bg-control-active: hsl(217 17% 19%),
    bg-control-transparent: hsl(0 0% 0% / 0),
    border-control-transparent: hsl(0 0% 0% / 0),
    bg-control-transparent-hover: hsl(213 8% 43% / 0.2),
    border-control-transparent-hover: hsl(0 0% 0% / 0),
    bg-control-transparent-active: hsl(213 8% 43% / 0.25),
    border-control-transparent-active: hsl(0 0% 0% / 0),

    bg-overlay: hsl(210 30% 4%),
    border-overlay: hsl(213 12% 24% / 0.7),

    code-syntax-comment: hsl(211 11% 56%),
    code-syntax-error-text: hsl(3 85% 70%),
    code-syntax-error-bg: hsl(359 66% 35% / 0.2),
    code-syntax-keyword: hsl(3 85% 70%),
    code-syntax-namespace: hsl(258 72% 78%),
    code-syntax-number: hsl(210 100% 74%),
    code-syntax-string: hsl(207 100% 85%),
    code-syntax-name: hsl(120 52% 60%),
    code-syntax-builtin: hsl(32 92% 67%),
    code-syntax-decorator: hsl(276 73% 86%),
    code-syntax-entity: hsl(38 59% 68%),
    code-syntax-function: hsl(210 100% 74%),
    code-syntax-tag: hsl(120 52% 60%),
    code-syntax-symbol: hsl(32 92% 67%),
    code-syntax-subtle: hsl(214 11% 38%),
    code-syntax-heading: hsl(210 32% 88%),
    code-syntax-inserted-bg: hsl(137 92% 15%),
    code-syntax-inserted-text: hsl(120 52% 60%),
    code-syntax-deleted-bg: hsl(359 66% 35% / 0.2),
    code-syntax-deleted-text: hsl(3 85% 70%),
    code-syntax-output: hsl(211 11% 56%),
    code-syntax-meta: hsl(211 17% 75%),

    bg-selection: hsl(217 24% 24%),
    fg-selection: hsl(0 0% 90%),

    bg-scrollbar: hsl(216 14% 6%),
    bg-scrollbar-thumb: hsl(215 23% 20%),
    bg-scrollbar-thumb-hover: hsl(215 23% 35%),

    bg-retro-counter: hsl(210 15% 12%),
    retro-counter-segment-active: hsl(209 18% 70%),
    retro-counter-segment-inactive: hsl(214 29% 20%),

    bg-cloud: (
      100: hsl(210 15% 6%),
      300: hsl(212 40% 9%),
      400: hsl(213 40% 10%),
      500: hsl(213 40% 12%),
    ),
    bg-sky: (
      from: hsl(214 40% 11%),
      to: hsl(200 50% 30%),
      subtle: hsl(210 40% 16%),
      bottom: hsl(212 32% 8% / 0.5),
    ),
  ),
  box-shadow: (
    floating-legacy: "0px 6px 12px -3px hsl(210 30% 4% / 0.45), 0px 6px 18px 0px hsl(210 30% 4% / 0.45)",
    floating-sm: "0px 0px 0px 1px hsl(217 12% 22%), 0px 6px 12px -3px hsl(210 30% 4% / 0.45), 0px 6px 18px 0px hsl(210 30% 4% / 0.45)",

    xs: 0 0 2px 0 hsl(210 30% 96% / 0.04),
    sm: 0 0 4px 0 hsl(210 30% 96% / 0.06),
    md: 0 0 8px 1px hsl(210 30% 96% / 0.08),
    lg: 0 0 12px 2px hsl(210 30% 96% / 0.12),
    xl: 0 0 20px 4px hsl(210 30% 96% / 0.15),
    xxl: 0 0 35px 6px hsl(210 30% 96% / 0.2),
  ),
  text-shadow: (
    contrast-soft: 0 1px 1px hsl(210 30% 96% / 0.2),
  ),
  gradient: (
    bg-shimmer: radial-gradient(circle, hsl(210 77% 77% / 0) 0%, hsl(210 77% 77% / 0.05) 35%, hsl(210 77% 77% / 0.1) 50%, hsl(210 77% 77% / 0.05) 65%, hsl(210 77% 77% / 0) 100%),
    bg-shimmer-pseudo: linear-gradient(90deg, hsl(210 77% 77% / 0) 0%, hsl(210 77% 77% / 0.1) 50%, hsl(210 77% 77% / 0) 100%),
  ),
);
