$light: (
  color: (
    bg-default: hsl(0 0% 100%),
    bg-muted: hsl(210 29% 97%),
    bg-neutral-muted: hsl(212 9% 55% / 0.12),
    bg-neutral-emphasis: hsl(212 9% 39%),
    bg-disabled: hsl(210 21% 94%),
    bg-transparent: hsl(0 0% 100% / 0),
    bg-accent-emphasis: hsl(212 92% 43%),
    bg-accent-muted: hsl(203 100% 94%),
    bg-success-emphasis: hsl(135 64% 33%),
    bg-success-muted: hsl(138 74% 92%),
    bg-danger-emphasis: hsl(356 71% 47%),
    bg-danger-muted: hsl(3 100% 93%),
    bg-attention-emphasis: hsl(25 100% 37%),
    bg-attention-muted: hsl(24 100% 95%),

    fg-default: hsl(222 22% 5%),
    fg-muted: hsl(225 15% 50%),
    fg-neutral: hsl(212 9% 39%),
    fg-on-emphasis: hsl(0 0% 100%),
    fg-link: hsl(212 92% 43%),
    fg-link-hover: hsl(205 100% 31%),
    fg-link-visited: hsl(275 100% 25%),
    fg-link-focus: hsl(205 100% 31%),
    fg-disabled: hsl(212 9% 55%),
    fg-white: hsl(0 0% 100%),
    fg-accent: hsl(212 92% 43%),
    fg-accent-muted: hsl(200 40% 27%),
    fg-success: hsl(137 66% 30%),
    fg-danger: hsl(357 71% 48%),
    fg-attention: hsl(25 100% 37%),

    border-default: hsl(210 21% 88%),
    border-muted: hsl(210 21% 88% / 0.7),
    border-neutral-muted: hsl(210 21% 88% / 0.7),
    border-disabled: hsl(212 9% 55% / 0.1),
    border-transparent: hsl(0 0% 100% / 0),
    border-accent-emphasis: hsl(212 92% 43%),
    border-accent-muted: hsl(207 100% 66% / 0.4),
    border-success-emphasis: hsl(137 66% 30%),
    border-success-muted: hsl(138 53% 54% / 0.4),
    border-danger-emphasis: hsl(356 71% 47%),
    border-danger-muted: hsl(3 100% 75% / 0.4),
    border-attention-emphasis: hsl(25 100% 37%),
    border-attention-muted: hsl(25 96% 63% / 0.4),

    outline-focus: hsl(212 92% 43%),

    bg-control: hsl(210 29% 97%),
    bg-control-hover: hsl(210 21% 94%),
    fg-control: hsl(216 12% 16%),
    border-control: hsl(210 21% 88%),
    bg-control-disabled: hsl(210 21% 94%),
    fg-control-disabled: hsl(212 9% 55%),
    border-control-disabled: hsl(212 9% 55% / 0.1),
    bg-control-active: hsl(211 22% 91%),
    bg-control-transparent: hsl(0 0% 100% / 0),
    border-control-transparent: hsl(0 0% 100% / 0),
    bg-control-transparent-hover: hsl(212 9% 55% / 0.1),
    border-control-transparent-hover: hsl(0 0% 100% / 0),
    bg-control-transparent-active: hsl(212 9% 55% / 0.15),
    border-control-transparent-active: hsl(0 0% 100% / 0),

    bg-overlay: hsl(0 0% 100%),
    border-overlay: hsl(210 21% 88% / 0.5),

    code-syntax-comment: hsl(210 9% 45%),
    code-syntax-error-text: hsl(0 71% 60%),
    code-syntax-error-bg: hsl(357 100% 95%),
    code-syntax-keyword: hsl(354 68% 53%),
    code-syntax-namespace: hsl(261 49% 51%),
    code-syntax-number: hsl(211 100% 39%),
    code-syntax-string: hsl(216 92% 19%),
    code-syntax-name: hsl(135 60% 33%),
    code-syntax-builtin: hsl(356 71% 44%),
    code-syntax-decorator: hsl(258 72% 75%),
    code-syntax-entity: hsl(20 29% 38%),
    code-syntax-function: hsl(211 100% 39%),
    code-syntax-tag: hsl(135 60% 33%),
    code-syntax-symbol: hsl(28 91% 47%),
    code-syntax-subtle: hsl(210 12% 83%),
    code-syntax-heading: hsl(215 13% 15%),
    code-syntax-inserted-bg: hsl(135 100% 92%),
    code-syntax-inserted-text: hsl(135 60% 33%),
    code-syntax-deleted-bg: hsl(357 100% 95%),
    code-syntax-deleted-text: hsl(356 71% 44%),
    code-syntax-output: hsl(210 9% 36%),
    code-syntax-meta: hsl(214 12% 30%),

    bg-selection: hsl(50 100% 78%),
    fg-selection: hsl(222 22% 5%),

    bg-scrollbar: hsl(0 0% 100%),
    bg-scrollbar-thumb: hsl(210 30% 55%),
    bg-scrollbar-thumb-hover: hsl(225 7% 60%),

    bg-retro-counter: hsl(213 80% 95%),
    retro-counter-segment-active: hsl(225 27% 40%),
    retro-counter-segment-inactive: hsl(212 39% 87%),

    bg-cloud: (
      100: hsl(203 60% 95%),
      300: hsl(202 68% 92%),
      400: hsl(201 60% 86%),
      500: hsl(200 80% 83%),
    ),
    bg-sky: (
      from: hsl(200 70% 78%),
      to: hsl(200 70% 70%),
      subtle: hsl(200 90% 88%),
      bottom: hsl(200 79% 83%),
    ),
  ),
  box-shadow: (
    floating-legacy: "0px 6px 12px -3px hsl(216 12% 16% / 0.04), 0px 6px 18px 0px hsl(216 12% 16% / 0.12)",
    floating-sm: "0px 0px 0px 1px hsl(210 21% 88% / 0.5), 0px 6px 12px -3px hsl(216 12% 16% / 0.04), 0px 6px 18px 0px hsl(216 12% 16% / 0.12)",

    xs: 0 0 2px 0 hsl(0 0% 0% / 0.06),
    sm: 0 0 4px 0 hsl(0 0% 0% / 0.08),
    md: 0 0 8px 1px hsl(0 0% 0% / 0.12),
    lg: 0 0 12px 2px hsl(0 0% 0% / 0.16),
    xl: 0 0 20px 4px hsl(0 0% 0% / 0.2),
    xxl: 0 0 35px 6px hsl(0 0% 0% / 0.25),
  ),
  text-shadow: (
    contrast-soft: 0 1px 1px hsl(0 0% 0% / 0.2),
  ),
  gradient: (
    bg-shimmer: radial-gradient(circle, hsl(211 79% 51% / 0) 0%, hsl(211 79% 51% / 0.05) 35%, hsl(211 79% 51% / 0.1) 50%, hsl(211 79% 51% / 0.05) 65%, hsl(211 79% 51% / 0) 100%),
    bg-shimmer-pseudo: linear-gradient(90deg, hsl(211 79% 51% / 0) 0%, hsl(211 79% 51% / 0.1) 50%, hsl(211 79% 51% / 0) 100%),
  ),
)
