$soft-dark: (
  color: (
    bg-default: hsl(212 18% 16%),
    bg-muted: hsl(218 17% 18%),
    bg-neutral-emphasis: hsl(215 8% 43%),
    bg-neutral-muted: hsl(215 8% 43% / 0.2),
    bg-disabled: hsl(217 18% 20%),
    bg-transparent: hsl(0 0% 0% / 0.0),
    bg-accent-emphasis: hsl(216 61% 49%),
    bg-accent-muted: hsl(215 75% 57% / 0.102),
    bg-success-emphasis: hsl(124 41% 35%),
    bg-success-muted: hsl(123 36% 43% / 0.149),
    bg-danger-emphasis: hsl(2 57% 50%),
    bg-danger-muted: hsl(3 75% 60% / 0.102),
    bg-attention-emphasis: hsl(22 67% 41%),
    bg-attention-muted: hsl(24 65% 49% / 0.1),

    fg-default: hsl(216 19% 85%),
    fg-muted: hsl(214 8% 60%),
    fg-neutral: hsl(214 8% 60%),
    fg-on-emphasis: hsl(210 67% 96%),
    fg-link: hsl(214 76% 59%),
    fg-link-hover: hsl(205 100% 31%),
    fg-link-visited: hsl(275 100% 25%),
    fg-link-focus: hsl(205 100% 31%),
    fg-disabled: hsl(215 8% 43%),
    fg-white: hsl(210 32% 85%),
    fg-accent: hsl(214 76% 59%),
    fg-accent-muted: hsl(210 100% 82%),
    fg-success: hsl(122 33% 51%),
    fg-danger: hsl(3 75% 60%),
    fg-attention: hsl(24 65% 49%),

    border-default: hsl(214 12% 27%),
    border-muted: hsl(214 12% 27% / 0.702),
    border-neutral-muted: hsl(214 12% 27% / 0.702),
    border-disabled: hsl(215 8% 43% / 0.102),
    border-transparent: hsl(0 0% 0% / 0.0),
    border-accent-emphasis: hsl(216 61% 49%),
    border-accent-muted: hsl(215 75% 57% / 0.4),
    border-success-emphasis: hsl(124 41% 35%),
    border-success-muted: hsl(123 36% 43% / 0.4),
    border-danger-emphasis: hsl(2 57% 50%),
    border-danger-muted: hsl(3 75% 60% / 0.4),
    border-attention-emphasis: hsl(22 67% 41%),
    border-attention-muted: hsl(24 65% 49% / 0.4),

    outline-focus: hsl(216 61% 49%),

    bg-control: hsl(217 18% 20%),
    bg-control-hover: hsl(215 17% 22%),
    fg-control: hsl(216 19% 85%),
    border-control: hsl(214 12% 27%),
    bg-control-disabled: hsl(217 18% 20%),
    fg-control-disabled: hsl(215 8% 43%),
    border-control-disabled: hsl(215 8% 43% / 0.102),
    bg-control-active: hsl(214 12% 27%),
    bg-control-transparent: hsl(0 0% 0% / 0.0),
    border-control-transparent: hsl(0 0% 0% / 0.0),
    bg-control-transparent-hover: hsl(215 8% 43% / 0.149),
    border-control-transparent-hover: hsl(0 0% 0% / 0.0),
    bg-control-transparent-active: hsl(215 8% 43% / 0.2),
    border-control-transparent-active: hsl(0 0% 0% / 0.0),

    bg-overlay: hsl(217 18% 20%),
    border-overlay: hsl(214 12% 27% / 0.702),

    code-syntax-comment: hsl(211 11% 51%),
    code-syntax-error-text: hsl(3 85% 68%),
    code-syntax-error-bg: hsl(359 66% 29% / 0.2),
    code-syntax-keyword: hsl(3 85% 68%),
    code-syntax-namespace: hsl(258 72% 75%),
    code-syntax-number: hsl(210 100% 71%),
    code-syntax-string: hsl(207 100% 79%),
    code-syntax-name: hsl(120 52% 56%),
    code-syntax-builtin: hsl(32 92% 64%),
    code-syntax-decorator: hsl(276 73% 86%),
    code-syntax-entity: hsl(38 59% 66%),
    code-syntax-function: hsl(210 100% 71%),
    code-syntax-tag: hsl(120 52% 56%),
    code-syntax-symbol: hsl(32 92% 64%),
    code-syntax-subtle: hsl(214 11% 30%),
    code-syntax-heading: hsl(210 32% 85%),
    code-syntax-inserted-bg: hsl(137 92% 11%),
    code-syntax-inserted-text: hsl(120 52% 56%),
    code-syntax-deleted-bg: hsl(359 66% 29% / 0.2),
    code-syntax-deleted-text: hsl(3 85% 68%),
    code-syntax-output: hsl(211 11% 51%),
    code-syntax-meta: hsl(211 17% 70%),

    bg-selection: hsl(220 25% 24%),
    fg-selection: hsl(216 19% 85%),

    bg-scrollbar: hsl(215 19% 15%),
    bg-scrollbar-thumb: hsl(220 21% 30%),
    bg-scrollbar-thumb-hover: hsl(220 20% 38%),

    bg-retro-counter: hsl(220 23% 13%),
    retro-counter-segment-active: hsl(209 18% 70%),
    retro-counter-segment-inactive: hsl(220 25% 24%),

    bg-cloud: (
      100: hsl(212 18% 16%),
      300: hsl(212 22% 20%),
      400: hsl(213 25% 24%),
      500: hsl(213 28% 28%),
    ),
    bg-sky: (
      from: hsl(212 28% 18%),
      to: hsl(200 45% 30%),
      subtle: hsl(210 28% 22%),
      bottom: hsl(212 20% 14% / 0.5),
    ),
  ),
  box-shadow: (
    floating-legacy: "0px 6px 12px -3px hsl(210 67% 1% / 0.4), 0px 6px 18px 0px hsl(210 67% 1% / 0.4)",
    floating-sm: "0px 0px 0px 1px hsl(217 12% 27%), 0px 6px 12px -3px hsl(210 67% 1% / 0.4), 0px 6px 18px 0px hsl(210 67% 1% / 0.4)",

    xs: 0 0 2px 0 hsl(0 0% 100% / 0.04),
    sm: 0 0 4px 0 hsl(0 0% 100% / 0.06),
    md: 0 0 8px 1px hsl(0 0% 100% / 0.08),
    lg: 0 0 12px 2px hsl(0 0% 100% / 0.12),
    xl: 0 0 20px 4px hsl(0 0% 100% / 0.15),
    xxl: 0 0 35px 6px hsl(0 0% 100% / 0.2),
  ),
  text-shadow: (
    contrast-soft: 0 1px 1px hsl(0 0% 100% / 0.1),
  ),
  gradient: (
    bg-shimmer: radial-gradient(circle, hsl(210 77% 77% / 0) 0%, hsl(210 77% 77% / 0.05) 35%, hsl(210 77% 77% / 0.1) 50%, hsl(210 77% 77% / 0.05) 65%, hsl(210 77% 77% / 0) 100%),
    bg-shimmer-pseudo: linear-gradient(90deg, hsl(210 77% 77% / 0) 0%, hsl(210 77% 77% / 0.1) 50%, hsl(210 77% 77% / 0) 100%)
  ),
);
