.page-title
  margin-top: 0rem
  border-bottom: 2px solid var(--borderColor-accent-emphasis)
  color: var(--fgColor-default)
  letter-spacing: 0.5px
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
  display: grid
  align-items: center
  gap: 0.5rem
  grid-template-columns: auto 1fr
  grid-template-rows: max-content

  .page-title-icon
    fill: var(--fgColor-accent)
