@use "abstracts/tokens" as *
@use "abstracts/mixins/transition-properties" as *

.page-title
  text-shadow: var(--text-shadow-contrast-soft)
  letter-spacing: 0.5px
  margin-block: $space-base

  @include transition-properties(text-shadow, $duration: $motion-duration-default, $easing: $motion-easing-smooth)

.page-content
  margin-block-start: $space-xl
