@use "abstracts/modules/clearfix"
@use "abstracts/mixins/transition-properties" as *

.category-title
  font-weight: var(--font-weight-medium)

.sub-category-title
  font-weight: var(--font-weight-normal)

.category-meta
  color: var(--color-fg-muted)
  font-weight: var(--font-weight-normal)
  vertical-align: baseline

.accordion-item
  .accordion-header
    .icon-folder-open
      display: none

    .icon-folder
      display: block

  &[data-expanded]
    .accordion-header
      .icon-folder
        display: none

      .icon-folder-open
        display: block

.category-meta-info,
.sub-category-meta-info
  @extend %clearfix
