@use "abstracts/tokens" as *
@use "abstracts/modules/clearfix"
@use "abstracts/modules/text-truncate"
@use "abstracts/mixins/transition-properties" as *

.categories-list
  .category-title
    font-weight: $font-weight-medium

  .post-title
    @extend %text-truncate
    font-size: $font-size-sm
    font-weight: $font-weight-base

  .post-published-at,
  .post-count
    font-size: $font-size-sm
    color: var(--color-fg-muted)
    text-align: end

  .post-published-at
    flex: 0 0 auto

  .post-count
    flex: 1 1 auto

  .accordion-item
    .accordion-header
      .icon-folder-open
        display: none

      .icon-folder
        display: block

    &[data-expanded]
      .accordion-header
        .icon-folder
          display: none

        .icon-folder-open
          display: block
