.error-page
  width: 100%
  max-width: 100%
  box-sizing: border-box
  display: flex
  flex-direction: column
  align-items: flex-start

  @media (max-width: 768px)
    margin-inline: auto
    align-items: center
    max-width: 90%

    & > *
      text-align: center

.error-title
  font-size: 2rem
  line-height: 2rem
  color: var(--fgColor-danger)
  margin-bottom: 1rem

.error-icon svg
  width: 128px
  height: 128px
  fill: var(--bgColor-danger-emphasis)

.error-desc
  color: var(--fgColor-muted)
