.error-page
  width: 100%
  max-width: 100%
  box-sizing: border-box
  display: flex
  flex-direction: column
  align-items: flex-start

  @media (max-width: 768px)
    margin-inline: auto
    align-items: center
    max-width: 90%

    & > *
      text-align: center

.error-title
  font-size: var(--fluid-font-size-xxl)
  color: var(--color-fg-danger)
  margin-block: var(--space-base)
  line-height: var(--line-height-title)

.error-icon svg
  width: var(--size-tera)
  height: var(--size-tera)
  fill: var(--color-bg-danger-emphasis)

.error-desc
  color: var(--color-fg-muted)
