@use "abstracts/mixins/breakpoints" as breakpoint

.content-grid
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(4, auto)
  grid-template-areas: "pinned-posts pinned-posts" "featured-posts featured-posts" "trending-tags popular-categories" "recently-updated recently-updated"
  gap: var(--fluid-space-sm) var(--fluid-space-base)
  align-items: start
  box-sizing: border-box

  @include breakpoint.max(md)
    grid-template-columns: 1fr
    grid-template-areas: "pinned-posts" "featured-posts" "trending-tags" "popular-categories" "recently-updated"

.pinned-posts
  grid-area: pinned-posts

.featured-posts
  grid-area: featured-posts

.trending-tags
  grid-area: trending-tags

.popular-categories
  grid-area: popular-categories

  .posts-count
    font-size: 0.95em
    color: var(--color-fg-muted)

  .popular-category
    display: flex
    justify-content: space-between
    align-items: center

.recently-updated-posts
  grid-area: recently-updated

  .recently-updated-list
    padding-inline-start: 0
    list-style-position: inside

  .recently-updated-post
    &::marker
      color: var(--color-fg-muted)
