.home-grid
  display: grid
  grid-template-rows: 100vh auto auto
  grid-template-areas: "hero" "content" "footer"

.home-content
  grid-area: content
  padding: var(--fluid-space-md)

.content-grid
  display: grid
  grid-template-columns: 2fr 1fr
  grid-template-areas: "content-primary content-sidebar"
  gap: var(--fluid-space-base)
  align-items: start
  box-sizing: border-box

  @media (max-width: 1280px)
    grid-template-columns: 1fr
    grid-template-areas: "content-primary" "content-sidebar"
    gap: var(--space-none)

/* Left & Right columns */
.content-primary
  grid-area: content-primary
  display: grid
  grid-template-rows: repeat(2, auto)
  grid-template-areas: "pinned-posts" "featured-posts"
  gap: var(--fluid-space-sm)

.content-sidebar
  grid-area: content-sidebar
  display: grid
  grid-template-rows: repeat(3, auto)
  grid-template-areas: "trending-tags" "popular-categories" "recently-updated"
  gap: var(--fluid-space-sm)

.pinned-posts
  grid-area: pinned-posts

.featured-posts
  grid-area: featured-posts

.trending-tags
  grid-area: trending-tags

.popular-categories
  grid-area: popular-categories

  .posts-count
    font-size: 0.95em
    color: var(--color-fg-muted)

  .popular-category
    display: flex
    justify-content: space-between
    align-items: center

.recently-updated-posts
  grid-area: recently-updated

  .recently-updated-list
    padding-inline-start: 0
    list-style-position: inside

  .recently-updated-post
    &::marker
      color: var(--color-fg-muted)
