.btn {
  background-color: var(--control-bgColor);
  color: var(--control-fgColor);
  border: 1px solid var(--control-borderColor);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: clamp(0.25rem, 1vw, 0.35rem);

  &:hover {
    background-color: var(--control-bgColor-hover);
  }

  &:disabled,
  &.disabled,
  &[aria-disabled=true] {
    color: var(--fgColor-disabled);
    background-color: var(--control-bgColor-disabled);
    border-color: var(--control-borderColor-disabled);
  }
}
