{%- assign post = include.post -%}
{%- assign author_ids = post.authors | default: site.post.author.default -%}

<p class="post-author" itemprop="author" itemscope itemtype="https://schema.org/Person">
  <em>
    Written by
    {% for author_id in author_ids -%}
      {%- assign author = site.data.authors[author_id] -%}
      <a href="{{ author.website }}" itemprop="name" rel="author" target="_blank">
        {{ author.name }}
      </a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </em>
</p>
