{% if post.categories %}
  <div class="post-meta-item post-categories" role="list">
    {% icon folder-open %}
    <span class="visually-hidden">Categories:</span>
    {% for category in post.categories %}
    {%- if include.link == true -%}
      <a href="/category{{ category | slugify | relative_url }}" class="badge" aria-label="Category: {{ category }}" rel="category" role="listitem">{{ category }}</a>
    {% else %}
      <span class="badge" aria-label="Category: {{ category }}" rel="category" role="listitem">{{ category }}</span>
    {% endif %}
    {% endfor %}
  </div>
{% endif %}
