{%- assign posts = include.posts -%}

<section class="posts" aria-labelledby="posts-list-title">
  <h2 id="posts-list-title" class="visually-hidden">List of blog posts</h2>

  {% for post in posts %}
    {%- assign cover_image = post.cover_image -%}
    <article class="post-preview card card-image-left">
      <a href="{{ post.url | relative_url }}" class="card-link" aria-label="Read post: {{ post.title }}">
        {% if cover_image %}
          <div class="card-media">
            <div class="card-media-inner">
              <img src="{{ cover_image.path | relative_url }}" class="img-fluid"
                   {% if cover_image.alt %}alt="{{ cover_image.alt }}"{% else %}alt="Cover image for post: {{ post.title }}"{% endif %}>
            </div>
          </div>
        {% endif %}
        <div class="card-body">
          <header class="card-header">
            <h2 class="card-title post-title" title="{{ post.title }}">
              {{ post.title }}
            </h2>

            <div class="post-meta post-meta-primary">
              {% include posts/series.html post = post %}
            </div>
          </header>
          <div class="card-content">
            {% if post.excerpt %}
              <div class="post-excerpt" title="{{ post.excerpt }}">{{ post.excerpt | markdownify }}</div>
            {% endif %}
          </div>
          <div class="card-footer">
            <div class="post-meta post-meta-primary">
              {% include posts/published-at.html post = post %}
              {% include posts/categories.html post = post %}
              {% include posts/read-time.html post = post %}
            </div>
          </div>
        </div>
      </a>
    </article>
  {% endfor %}
</section>
