{%- assign post = include.post -%}
{%- assign title = post.title | uri_escape -%}
{%- assign url = post.url | absolute_url | url_encode -%}

<div class="share-icons" role="group" aria-label="Share this post">
  Share:
  {% for share in site.data.posts.share.platforms %}
    {%- assign link = share.link | replace: "TITLE", title | replace: "URL", url -%}

    <a href="{{ link }}" class="share-link"
       onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
       aria-label="Share on {{ share.type }}" data-tooltip="{{ share.type }}">
      {% svg {{ share.icon }} %}
    </a>
  {% endfor %}
  <button class="share-link" aria-label="Copy link" data-copy-link data-copy-url="{{ post.url | absolute_url }}" data-tooltip="Copy link">
    {% svg link %}
  </button>
</div>
