{%- assign post = include.post -%}

<div class="share-icons" aria-label="Share this post">
  Share:
  <a href="https://twitter.com/intent/tweet?url={{ post.url | absolute_url }}&text={{ post.title | uri_escape }}"
    aria-label="Share on Twitter" data-tooltip="Twitter" target="_blank" rel="noopener noreferrer nofollow">
    {% icon twitter %}
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ post.url | absolute_url }}"
    aria-label="Share on Facebook" data-tooltip="Facebook" target="_blank" rel="noopener noreferrer nofollow">
    {% icon facebook %}
  </a>
  <a href="https://t.me/share/url?url={{ post.url | absolute_url }}&text={{ post.title | uri_escape }}"
    aria-label="Share on Telegram" data-tooltip="Telegram" target="_blank" rel="noopener noreferrer nofollow">
    {% icon telegram %}
  </a>
  <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ post.url | absolute_url }}"
    aria-label="Share on LinkedIn" data-tooltip="LinkedIn" target="_blank" rel="noopener noreferrer nofollow">
    {% icon linkedin %}
  </a>
  <a href="https://wa.me/?text={{ post.title | uri_escape }}%20{{ post.url | absolute_url }}"
    aria-label="Share on WhatsApp" data-tooltip="WhatsApp" target="_blank" rel="noopener noreferrer nofollow">
    {% icon whatsapp %}
  </a>
  <a href="" aria-label="Copy link" data-copy-link data-tooltip="Copy link">
    {% icon link %}
  </a>
</div>
