@keyframes bounce
  0%, to
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1)
    transform: translateX(-50%) translateY(-25%)

  50%
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1)
    transform: translateX(-50%) translateY(0)
