@use "abstracts/tokens" as *

@keyframes pulse
  0%
    transform: scale(1)
    opacity: $opacity-medium

  50%
    transform: scale(1.2)
    opacity: $opacity-full

  100%
    transform: scale(1)
    opacity: $opacity-medium
