@keyframes pulse
  0%
    transform: scale(1)
    opacity: var(--opaciy-medium)

  50%
    transform: scale(1.2)
    opacity: var(--opaciy-full)

  100%
    transform: scale(1)
    opacity: var(--opaciy-medium)
