@use "abstracts/tokens" as *

@keyframes scrollTopBounceIn
  from
    opacity: $opacity-none
    transform: translateY(20px) scale(0.95)
    visibility: hidden

  60%
    opacity: $opacity-full
    transform: translateY(-5px) scale(1.05)
    visibility: visible

  to
    transform: translateY(0) scale(1)
    visibility: visible

@keyframes scrollTopBounceOut
  from
    opacity: $opacity-full
    transform: translateY(0) scale(1)
    visibility: visible

  to
    opacity: $opacity-none
    transform: translateY(20px) scale(0.95)
    visibility: hidden
