@keyframes scrollTopBounceIn
  from
    opacity: var(--opacity-none)
    transform: translateY(20px) scale(0.95)
    visibility: hidden

  60%
    opacity: var(--opacity-full)
    transform: translateY(-5px) scale(1.05)
    visibility: visible

  to
    transform: translateY(0) scale(1)
    visibility: visible

@keyframes scrollTopBounceOut
  from
    opacity: var(--opacity-full)
    transform: translateY(0) scale(1)
    visibility: visible

  to
    opacity: var(--opacity-none)
    transform: translateY(20px) scale(0.95)
    visibility: hidden
