@use "abstracts/tokens" as *

:focus,
:focus-visible
  outline: $outline-focus-width solid var(--color-outline-focus)
  outline-offset: $outline-focus-offset

:focus:not(:focus-visible)
  outline: none
  box-shadow: $box-shadow-none

:disabled,
.disabled,
[aria-disabled=true]
  box-shadow: $box-shadow-none
  cursor: not-allowed !important
  pointer-events: none
