.float-left
  float: left
  margin: var(--space-md) var(--space-base) var(--space-base) var(--space-none) !important

.float-right
  float: right
  margin: var(--space-md) var(--space-none) var(--space-base) var(--space-base) !important
