@use "abstracts/tokens" as *

.float-left
  float: left
  margin: $space-md $space-base $space-base $space-none !important

.float-right
  float: right
  margin: $space-md $space-none $space-base $space-base !important
