@use "abstracts/tokens" as *
@use "abstracts/mixins/transition-properties" as *

#mask
  position: fixed
  inset: $space-none
  height: 100%
  width: 100%
  z-index: 998
  opacity: $opacity-none
  pointer-events: none

  @include transition-properties((background-color, opacity), $duration: $motion-duration-default, $easing: $motion-easing-smooth)

  // @at-root [data-drawer="open"] &
  //   opacity: $opacity-full
  //   pointer-events: auto
  //   background-color: var(--color-bg-overlay-backdrop)
