$border-radii: (
  radius-none: 0,
  radius-xs: 0.125rem,
  radius-small: 0.1875rem,
  radius-medium: 0.375rem,
  radius-large: 0.75rem,
  radius-xl: 1rem,
  radius-xxl: 1.5rem,
  radius-pill: 50rem,
  radius-full: 624.9375rem,
  radius-default: var(--border-radius-medium),
)

$border-widths: (
  width-none: 0,
  width-hairline: 0.03125rem,
  width-thin: 0.0625rem,
  width-medium: 0.125rem,
  width-thick: 0.25rem,
  width-extra-thick: 0.5rem,
  width-default: var(--border-width-thin),
)
