$motion-durations: (
  ultra-fast: 75ms,
  fast: 150ms,
  medium: 300ms,
  slow: 500ms,
  extra-slow: 700ms,
  ultra-slow: 1000ms,
  default: var(--motion-duration-medium),
)

$motion-easings: (
  linear: cubic-bezier(0, 0, 1, 1),
  in: cubic-bezier(0.7, 0.1, 0.75, 0.9),
  out: cubic-bezier(0.3, 0.8, 0.6, 1),
  in-out: cubic-bezier(0.6, 0, 0.2, 1),
  smooth: var(--motion-easing-in-out),
  entrance: cubic-bezier(0.16, 1, 0.3, 1),
  exit: cubic-bezier(0.7, 0, 0.84, 0),
  bounce: cubic-bezier(0.34, 1.56, 0.64, 1),
  elastic: cubic-bezier(0.5, -0.5, 0.5, 1.5),
  default: var(--motion-easing-in-out),
)
