$typography: (
  font-stack-system: "system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'",
  font-stack-monospace: "ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace",
)

$font-weights: (
  thin: 100,
  extralight: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
)

$line-heights: (
  none: 1,
  display: 1.05,
  title: 1.1,
  tight: 1.25,
  snug: 1.375,
  math: 1.4,
  normal: 1.5,
  code: 1.6,
  relaxed: 1.625,
  paragraph: 1.75,
  loose: 2,
)
