@use "abstracts/tokens" as *

@mixin overlay($color: rgba(0, 0, 0, 0.6))
  &::before
    content: ""
    position: absolute
    inset: $space-none
    background: linear-gradient(to bottom right, $color, $color)
    z-index: 1

  > *
    position: relative
    z-index: 2
