@mixin scroll-lock
  overflow: hidden
  touch-action: none

  // Hide scrollbar for Firefox
  scrollbar-width: none

  // Hide scrollbar for WebKit
  &::-webkit-scrollbar
    display: none

  // prevent overscroll bounce on iOS Safari
  overscroll-behavior: contain

  // lock on mobile pinch zoom
  -ms-touch-action: none
