.main-content {
  flex: 1;
  padding: 1rem;
  margin-left: var(--layout-offset-lg);
  transition: margin-left 0.3s ease;
  will-change: margin-left;

  @media (max-width: 1024px) {
    margin-left: var(--layout-offset-md);
  }

  @media (max-width: 768px) {
    margin-left: 0;

    &[data-sidebar="open"] {
      margin-left: var(--layout-offset-sm);
      padding: 1rem;
    }
  }
}

.container {
  width: 100%;
  max-width: clamp(600px, 90%, 1200px);
  margin-inline: auto;
}
