.main-content {
  margin-left: var(--layout-offset-lg);
  padding: 1rem;
  flex: 1;
  transition: margin-left 0.3s ease;
  will-change: margin-left;

  @media (max-width: 1024px) {
    margin-left: var(--layout-offset-md);
  }

  @media (max-width: 768px) {
    margin-left: 0;

    &[data-sidebar="open"] {
      margin-left: var(--layout-offset-sm);
      padding: 1rem;
    }
  }
}
