@use "abstracts/tokens" as *
@use "abstracts/modules/text-clip" as *
@use "abstracts/mixins/breakpoints" as breakpoint

.series-list
  display: flex
  flex-direction: column
  gap: $fluid-space-base
  margin: $space-none
  padding: $space-none

.series-title
  margin: $space-none

.series-excerpt
  margin: $space-none
  color: var(--color-fg-muted)

  @extend %text-clip

.series-meta
  font-size: $font-size-sm
  color: var(--color-fg-muted)

.series-description
  margin-bottom: $space-base
