@keyframes tooltip-in {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(0.25rem);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    visibility: visible;
  }
}

@keyframes tooltip-out {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(0.25rem);
    visibility: hidden;
  }
}
