@use "abstracts/tokens" as *
@use "abstracts/modules/no-cursor"
@use "abstracts/modules/clearfix"
@use "abstracts/mixins/transition-properties" as *

.accordion
  display: flex
  flex-direction: column
  gap: $fluid-space-base

.accordion-item
  border: $border-accent-muted
  border-radius: $border-radius-default
  overflow: hidden

  @include transition-properties(box-shadow, $duration: $motion-duration-default, $easing: $motion-easing-ease)

  &[data-expanded]
    box-shadow: var(--box-shadow-md)

.accordion-toggle
  border-radius: $border-radius-full

  .icon-arrow-down
    @include transition-properties(transform, $duration: $motion-duration-default, $easing: $motion-easing-ease)

    .accordion-item[data-expanded] &
      transform: rotate(-180deg)

.accordion-header
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  gap: $space-sm
  padding: $space-md $space-base
  background-image: linear-gradient(var(--color-bg-accent-muted), var(--color-bg-accent-muted))

  @extend %no-cursor

  .accordion-title
    display: inline-flex
    align-items: center
    gap: $space-sm

    @extend %clearfix

    .icon
      flex-shrink: 0

.accordion-body
  height: 0
  overflow: hidden
  display: block
  background-color: var(--color-bg-default)

  @include transition-properties(height, $duration: $motion-duration-default, $easing: $motion-easing-ease)
