@use "abstracts/modules/no-cursor"
@use "abstracts/modules/clearfix"
@use "abstracts/mixins/transition-properties" as *

.accordion
  display: flex
  flex-direction: column
  gap: var(--fluid-space-base)

.accordion-item
  border: var(--border-accent-muted)
  border-radius: var(--border-radius-default)
  overflow: hidden

  @include transition-properties(box-shadow, $duration: var(--motion-duration-default), $easing: var(--motion-easing-ease))

  &[data-expanded]
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15)

.accordion-toggle
  border-radius: var(--border-radius-full)

  .icon-arrow-down
    @include transition-properties(transform, $duration: var(--motion-duration-default), $easing: var(--motion-easing-ease))

    .accordion-item[data-expanded] &
      transform: rotate(-180deg)

.accordion-header
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  padding: var(--space-md) var(--space-base)
  box-shadow: var(--box-shadow-inset-muted)
  background-image: linear-gradient(var(--color-bg-accent-muted), var(--color-bg-accent-muted))

  @extend %no-cursor

  .accordion-title
    display: inline-flex
    align-items: center
    gap: var(--space-sm)

    @extend %clearfix

    .icon
      flex-shrink: 0

.accordion-body
  height: 0
  overflow: hidden
  display: block
  background-color: var(--color-bg-default)

  @include transition-properties(height, $duration: var(--motion-duration-default), $easing: var(--motion-easing-ease))
