@use "abstracts/tokens" as *
@use "abstracts/modules/no-cursor" as *
@use "abstracts/mixins/transition-properties" as *

$alert-types: (success, danger, attention, accent)

.alert
  position: relative
  display: flex
  align-items: center
  padding: $space-base
  border: $border-width-default solid var(--color-border-neutral-muted)
  border-radius: $border-radius-default
  font-size: $font-size-base
  background-image: linear-gradient(var(--color-bg-neutral-muted), var(--color-bg-neutral-muted))
  color: var(--color-fg-default)
  gap: $space-base
  margin-bottom: $space-sm
  line-height: $line-height-relaxed

  @include transition-properties((opacity, transform, visibility), $duration: $motion-duration-default, $easing: $motion-easing-in-out)

  @each $type in $alert-types
    &-#{$type}
      background-image: linear-gradient(var(--color-bg-#{$type}-muted), var(--color-bg-#{$type}-muted))
      border-color: var(--color-border-#{$type}-emphasis)

      &.alert-outlined
        background-color: var(--color-bg-transparent)
        background-image: none
        color: var(--color-fg-#{$type})
        border-color: var(--color-border-#{$type}-emphasis)

      .alert-icon
        .icon
          fill: var(--color-bg-#{$type}-emphasis)

  &.fade-out
    opacity: $opacity-none
    transform: translateY(calc(-1 * $space-sm))
    pointer-events: none
    visibility: hidden

  &-heading
    font-weight: $font-weight-semi-bold
    margin-block: $space-xs
    font-size: $fluid-font-size-md

  &-icon
    flex-shrink: 0
    display: inline-flex
    align-items: center
    justify-content: center
    color: inherit

  &-content
    flex: 1

    p
      margin-block: $space-sm

  &-dismiss
    background-color: var(--color-bg-transparent)
    border: none
    color: inherit
    padding: $space-none
    line-height: 1
    flex-shrink: 0

    .icon-times
      pointer-events: none

      @include transition-properties((transform, color), $duration: $motion-duration-default, $easing: $motion-easing-linear)

      @extend %no-cursor

    &:hover,
    &:focus
      background-color: var(--color-bg-transparent)

      .icon-times
        transform: scale(1.25) rotate(10deg)
