@use "abstracts/mixins/transition-properties" as *

.badge
  display: inline-block
  padding: var(--space-xs) var(--space-sm)
  font-size: var(--fluid-font-size-xs)
  font-weight: var(--font-weight-medium)
  line-height: var(--line-height-tight)
  text-align: center
  white-space: nowrap
  vertical-align: middle
  background-color: var(--color-bg-muted)
  color: var(--color-fg-muted)
  border: var(--border-muted)
  border-radius: var(--border-radius-default)

  @include transition-properties((background-color, color), $duration: var(--motion-duration-fast), $easing: var(--motion-easing-in-out))
