@use "abstracts/tokens" as *
@use "abstracts/mixins/transition-properties" as *

.badge
  display: inline-block
  padding: $space-xs $space-sm
  font-size: $fluid-font-size-xs
  font-weight: $font-weight-medium
  line-height: $line-height-tight
  text-align: center
  white-space: nowrap
  vertical-align: middle
  background-color: var(--color-bg-muted)
  color: var(--color-fg-muted)
  border: $border-muted
  border-radius: $border-radius-default
