@use "abstracts/tokens" as *
@use "abstracts/modules/list-unstyled" as *

.breadcrumbs
  display: flex
  align-items: center
  flex-wrap: wrap
  font-size: $font-size-sm
  color: var(--color-fg-muted)
  margin-bottom: $space-base

  @extend %list-unstyled

  .breadcrumb-item
    display: flex
    align-items: center
    margin-bottom: $space-none

    &:not([aria-current="page"])
      font-weight: $font-weight-medium

    &:not(:last-child)::after
      content: "\00bb"
      margin-inline: $space-sm
      color: var(--color-fg-neutral)
