@use "abstracts/modules/list-unstyled" as *

.breadcrumbs
  display: flex
  align-items: center
  flex-wrap: wrap
  font-size: var(--font-size-sm)
  color: var(--color-fg-muted)
  margin-bottom: var(--space-base)

  @extend %list-unstyled

  .breadcrumb-item
    display: flex
    align-items: center
    margin-bottom: var(--space-none)

    &:not([aria-current="page"])
      font-weight: var(--font-weight-medium)

    &:not(:last-child)::after
      content: "\00bb"
      margin-inline: var(--space-sm)
      color: var(--color-fg-neutral)
