@use "abstracts/mixins/transition-properties" as *

button
  background-color: var(--color-bg-control-transparent)
  color: var(--color-fg-control)
  border: var(--border-width-default) solid var(--color-border-control-transparent)
  padding: clamp(0.4rem, 1.2vw, 0.6rem)
  font-size: clamp(0.875rem, 1.25vw, 0.9375rem)
  font-weight: var(--font-weight-semi-bold)

  &:hover,
  &:focus
    background-color: var(--color-bg-control-transparent-hover)
    border-color: var(--color-border-control-transparent-hover)

  &.active
    background-color: var(--color-bg-control-transparent-active)
    border-color: var(--color-border-control-transparent-active)

[type=button],
[type=reset],
[type=submit],
button
  -webkit-appearance: button

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled)
  cursor: pointer

.btn
  background-color: var(--color-bg-control)
  color: var(--color-fg-control)
  border-color: var(--color-border-control)
  border-radius: var(--border-radius-default)
  line-height: var(--line-height-tight)

  @include transition-properties((background-color, color, border-color), $duration: var(--motion-duration-fast), $easing: var(--motion-easing-in-out))

  &:hover,
  &:focus
    background-color: var(--color-bg-control-hover)
    border-color: var(--color-border-control)

  &.active
    background-color: var(--color-bg-control-active)

  &:disabled,
  &.disabled,
  &[aria-disabled=true]
    background-color: var(--color-bg-control-disabled)
    color: var(--color-fg-control-disabled)
    border-color: var(--color-border-control-disabled)

.btn-sm
  padding: clamp(0.2rem, 0.6vw, 0.3rem)
  font-size: clamp(12px, 1.2vw, 14px)
  border-radius: var(--border-radius-small)

.btn-primary
  background-color: var(--color-bg-button-primary)
  color: var(--color-fg-button-primary)
  border-color: var(--color-border-button-primary)

  &:hover,
  &:focus
    background-color: var(--color-bg-button-primary-hover)
    color: var(--color-fg-button-primary-hover)
    border-color: var(--color-border-button-primary-hover)

  &.active
    background-color: var(--color-bg-button-primary-active)
    border-color: var(--color-border-button-primary-active)

  &:disabled,
  &.disabled,
  &[aria-disabled=true]
    background-color: var(--color-bg-button-primary-disabled)
    color: var(--color-fg-button-primary-disabled)
    border-color: var(--color-border-button-primary-disabled)
