@use "abstracts/modules/no-cursor" as *

.code-block
  background-color: var(--color-bg-muted)
  border: 1px solid var(--color-border-default)
  border-radius: 0.5rem
  overflow: hidden
  font-size: 0.9rem
  box-shadow: var(--box-shadow-floating-legacy)
  margin-bottom: 1rem

  figure
    margin-block: 0
    border: none

    .gutter
      position: sticky
      left: 0
      text-align: right
      background-color: var(--color-bg-muted)
      border-right: 1px solid var(--color-border-default)
      z-index: 1

      @extend %no-cursor

    .code
      width: 100%

.code-block-header
  display: flex
  align-items: center
  justify-content: space-between
  background-color: var(--color-bg-default)
  border-bottom: 1px solid var(--color-border-muted)
  padding: 0.5rem 1rem

  .code-block-button-group
    display: flex
    gap: 0.5rem

  .code-lang
    display: flex
    align-items: center
    justify-content: center
    gap: 0.4rem
    flex-grow: 1
    font-weight: 600
    color: var(--color-fg-muted)

  .code-actions
    display: flex
    align-items: center
    gap: 0.5rem

.code-actions
  .btn-copy,
  .btn-toggle-lines
    display: inline-grid
    align-items: center

.code-block-button-group
  .code-block-action
    width: 1em
    height: 1em

  .code-close
    fill: var(--color-bg-danger-emphasis)
  .code-minimize
    fill: var(--color-bg-attention-emphasis)
  .code-maximize
    fill: var(--color-bg-success-emphasis)

.gutter
  &.hidden
    display: none

  .lineno
    color: var(--color-fg-muted)

[data-copy-code],
[data-copy-link],
[data-copy-target]
  #icon-check
    fill: var(--color-bg-success-emphasis)
