@use "abstracts/tokens" as *
@use "abstracts/mixins/caret" as *
@use "abstracts/mixins/icon-mask" as *
@use "abstracts/mixins/transition-properties" as *

.dropdown
  position: relative
  display: inline-block

.dropdown-toggle
  cursor: pointer

.dropdown-menu
  position: absolute
  display: none
  background-color: var(--color-bg-overlay)
  border: $border-width-default solid var(--color-border-overlay)
  box-shadow: var(--box-shadow-floating-sm)
  border-radius: $border-radius-default
  z-index: 999
  pointer-events: none
  list-style: none
  width: max-content
  min-width: 10rem
  padding: $space-sm

  &.show
    display: block
    pointer-events: auto

.dropdown-arrow
  @include caret

.dropdown-item
  display: grid
  grid-template-columns: auto 1fr
  grid-template-rows: max-content
  align-items: center
  gap: $space-sm
  color: var(--color-fg-control)
  font-weight: $font-weight-medium
  padding-block: $space-xs
  background-color: var(--color-bg-control-transparent)
  border-radius: $border-radius-sm
  width: 100%
  -webkit-tap-highlight-color: transparent
  text-align: left
  touch-action: manipulation
  line-height: $line-height-tight

  @include transition-properties(background-color, $duration: $motion-duration-fast, $easing: $motion-easing-in-out)

  &:hover,
  &:focus
    color: var(--color-fg-control)
    background-color: var(--color-bg-control-transparent-hover)
    text-decoration: none

.dropdown-item-selected
  position: relative

  &::after
    content: ""
    position: absolute
    right: $space-sm
    top: 50%
    transform: translateY(-50%)
    width: $size-base
    height: $size-base
    @include icon-mask($icon-check-circle, $color: var(--color-fg-success))
