@use "abstracts/mixins/caret" as *
@use "abstracts/mixins/icon-mask" as *

.dropdown
  position: relative
  display: inline-block

.dropdown-toggle
  cursor: pointer

.dropdown-menu
  position: absolute
  display: none
  background-color: var(--color-bg-overlay)
  border: 1px solid var(--color-border-overlay)
  box-shadow: var(--box-shadow-floating-sm)
  border-radius: 6px
  z-index: 999
  pointer-events: none
  list-style: none
  width: max-content
  min-width: 10rem
  padding: 0.5rem

  @include caret

  &.show
    display: block
    pointer-events: auto

.dropdown-item
  display: grid
  grid-template-columns: auto 1fr
  grid-template-rows: max-content
  align-items: center
  gap: 0.5rem
  color: var(--color-fg-control)
  padding-block: 0.25rem
  transition: background-color 0.3s ease
  will-change: background-color
  background-color: var(--color-bg-control-transparent)
  border-radius: 0.25rem
  width: 100%
  -webkit-tap-highlight-color: transparent
  text-align: left
  touch-action: manipulation

  &:hover,
  &:focus
    color: var(--color-fg-control)
    background-color: var(--color-bg-control-transparent-hover)
    text-decoration: none

.dropdown-item-selected
  position: relative

  &::after
    content: ""
    position: absolute
    right: 0.5rem
    top: 50%
    transform: translateY(-50%)
    width: 18px
    height: 18px
    @include icon-mask(var(--checkmark-svg), $color: var(--color-fg-success))
