@use "abstracts/tokens" as *
@use "abstracts/mixins/breakpoints" as breakpoint
@use "abstracts/modules/text-underline" as *

.hero
  padding: $fluid-space-md

.hero-content
  margin: $space-sm
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  gap: $space-sm

  @include breakpoint.max(md)
    align-items: flex-start

  .hero-heading
    font-size: $fluid-font-size-xxl
    line-height: $line-height-title
    margin-bottom: $space-sm
    font-weight: $font-weight-semi-bold

  .hero-subheading
    font-size: $fluid-font-size-lg
    font-weight: $font-weight-base
    line-height: $line-height-relaxed
    color: var(--color-fg-muted)

  .hero-typed
    font-size: $font-size-lg
    font-weight: $font-weight-medium
    color: var(--color-typed-text)

  .hero-highlight
    letter-spacing: 1px
    text-decoration-color: var(--color-typed-text)
    @extend %text-underline

  .hero-typed .typed-cursor
    color: var(--color-typed-cursor)
