@use "abstracts/tokens" as *
@use "abstracts/mixins/breakpoints" as breakpoint
@use "abstracts/mixins/transition-properties" as *

// @keyframes cloudDrift
//   0%
//     transform: translateX(0)
//   100%
//     transform: translateX(-20%)
//
// .hero-banner .sky-layer-back
//   animation: cloudDrift 60s linear infinite

.hero-banner
  position: absolute
  inset: $header-height 0 auto
  isolation: isolate
  background: var(--color-bg-sky-from)
  overflow: hidden
  overflow: clip
  margin-top: calc(-1 * $header-height - 2.75rem)
  padding-top: calc($header-height + 2.75rem)
  width: 100vw
  z-index: 0
  pointer-events: none

.sky-layer
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: center
  overflow: hidden
  overflow: clip
  @include transition-properties(background, $duration: $sky-from-duration, $easing: $color-swap-timing-function)

.sky-layer-back
  &.sky-layer
    background: linear-gradient(to bottom, var(--color-bg-sky-from), var(--color-bg-sky-to))
    margin-top: -32px

.sky-layer-front
  &.sky-layer
    position: absolute
    z-index: 3
    inset: auto 0 0

.sky-svg
  display: block
  max-width: revert
  min-width: 320rem
  transform: translateZ(0) translateY(1px)

  @include breakpoint.max(md)
    --magic-number: calc(-50vw + 25rem)
    margin-top: -1rem
    transform: translateZ(0) translate(var(--magic-number), 1px)

.cloud-background
  fill: var(--color-bg-cloud-500)
  @include transition-properties(fill, $duration: $first-swoop-duration, $easing: $color-swap-timing-function)

.cloud-midground
  fill: var(--color-bg-cloud-300)
  @include transition-properties(fill, $duration: $second-swoop-duration, $easing: $color-swap-timing-function)

.cloud-foreground
  fill: var(--color-bg-default)
  @include transition-properties(fill, $duration: $color-swap-duration, $easing: $color-swap-timing-function)

.star
  fill: hsl(0 0% 100%)
