@use "abstracts/modules/bg-cover" as *
@use "abstracts/mixins/overlay" as *
@use "abstracts/animations/fade-in" as *
@use "abstracts/animations/slide-up" as *
@use "abstracts/animations/bounce" as *
@use "abstracts/mixins/transition-properties" as *
@use "abstracts/mixins/breakpoints" as breakpoint

.hero-banner
  grid-area: hero
  position: relative
  width: 100%
  background-image: url("../assets/img/hero-bg.png")
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  color: var(--color-fg-on-emphasis)
  flex-direction: column
  padding: var(--fluid-space-base)
  overflow: hidden

  @extend %bg-cover

  @include overlay(rgba(13, 17, 23, 0.6))

  @include breakpoint.max(md)
    background-attachment: scroll

.hero-inner
  position: relative
  z-index: 2
  padding: var(--fluid-space-lg)
  width: 100%
  max-width: none
  background: var(--color-bg-hero-content)
  border: var(--border-width-default) solid var(--color-border-hero-content)
  box-shadow: var(--box-shadow-hero-content-default)
  border-radius: var(--border-radius-large)
  max-inline-size: 45rem
  margin-inline: auto
  backdrop-filter: blur(var(--blur-lg)) saturate(140%) contrast(120%)
  animation: fade-in var(--motion-duration-extra-slow) var(--motion-easing-in) both, slide-up var(--motion-duration-extra-slow) var(--motion-easing-in) both

  @include breakpoint.max(md)
    max-inline-size: 35rem

  .avatar
    width: var(--size-exa)
    height: var(--size-exa)

    @include breakpoint.max(md)
      width: var(--size-tera)
      height: var(--size-tera)

.hero-heading
  font-size: var(--fluid-font-size-xxl)
  line-height: var(--line-height-title)
  margin-bottom: var(--space-sm)
  font-weight: var(--font-weight-semi-bold)
  border-bottom: none

.hero-subheading
  font-size: var(--fluid-font-size-lg)
  font-weight: var(--font-weight-normal)
  line-height: var(--line-height-relaxed)
  opacity: var(--opacity-semi)

.hero-highlight
  letter-spacing: 1px
  border-bottom: var(--border-width-medium) solid var(--color-border-accent-emphasis)

.hero-cta-group
  margin-top: var(--fluid-space-base)
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: var(--fluid-space-sm)

.hero-cta
  padding: var(--space-md) var(--space-base)
  font-size: var(--fluid-font-size-normal)
  color: var(--color-fg-on-emphasis)
  border: var(--border-width-medium) solid var(--color-border-emphasis)
  background-color: var(--color-bg-transparent)
  text-decoration: none
  border-radius: var(--border-radius-medium)
  display: inline-flex
  align-items: center
  gap: var(--space-sm)

  @include transition-properties((background-color, color, border-color), $duration: var(--motion-duration-default), $easing: var(--motion-easing-smooth))

  svg
    @include transition-properties((background-color, color, border-color), $duration: var(--motion-duration-default), $easing: var(--motion-easing-smooth))

  &:hover,
  &:focus-visible
    background-color: hsla(0, 0%, 100%, .1)
    color: var(--color-fg-white)
    text-decoration: none

  @include breakpoint.max(sm)
    width: 100%
    text-align: center

.hero-scroll-indicator
  position: absolute
  bottom: var(--space-none)
  left: 50%
  transform: translateX(-50%)
  font-size: var(--font-size-xl)
  color: var(--color-fg-white)

  .animate-bounce
    animation: bounce var(--motion-duration-ultra-slow) var(--motion-easing-bounce) infinite both

  &-anchor
    color: var(--color-fg-muted)

    &:hover,
    &:focus
      color: var(--color-fg-link)
      background-color: var(--color-bg-transparent)
      border-color: var(--color-border-transparent)
