@use "abstracts/modules/bg-cover" as *
@use "abstracts/mixins/transition-properties" as *

// @-webkit-keyframes shimmer
//   0%
//     transform: translateX(-100%)
//
//   100%
//     transform: translateX(100%)
//
// @keyframes shimmer
//   0%
//     transform: translateX(-100%)
//
//   100%
//     transform: translateX(100%)
//
// .shimmer
//   overflow: hidden
//   position: relative
//
//   &::before
//     content: ""
//     position: absolute
//     background: var(--color-bg-shimmer)
//     height: 100%
//     width: 100%
//     -webkit-animation: shimmer 1s infinite
//     animation: shimmer 1s infinite
//
// [data-src]
//   @include transition-properties((opacity, filter), $duration: var(--motion-duration-slow), $easing: var(--motion-easing-ease))
//
//   &.loaded
//     opacity: 1
//     filter: none
//
//   &[data-bg]
//     @extend %bg-cover

// @mixin shimmer-base {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 200%;
//   height: 100%;
//   background-image: var(--gradient-bg-shimmer);
//   transform: translateX(-100%);
//   animation: shimmer 1.5s infinite linear;
//   will-change: transform;
//   z-index: 1;
//   pointer-events: none;
// }

@keyframes shimmer
  0%
    transform: translateX(-100%)

  100%
    transform: translateX(100%)

@-webkit-keyframes fade-in
  from
    opacity: 0

  to
    opacity: 1

@keyframes fade-in
  from
    opacity: 0

  to
    opacity: 1

// .shimmer
//   position: relative
//   overflow: hidden
//
//   &::before
//     content: ""
//     position: absolute
//     inset: 0
//     background-image: var(--gradient-bg-shimmer)
//     animation: shimmer 1s infinite linear
//     will-change: transform
//     z-index: 1
//     pointer-events: none
//
// .lazy-wrapper
//   margin-block: var(--space-none)
//   background: var(--gradient-bg-img)
//
//   .lazyloaded
//     background-color: transparent !important
//     webkit-animation: fade-in 0.35s ease-in
//     animation: fade-in 0.35s ease-in
//
//   img
//     z-index: 2
//
//   &.shadow
//     box-shadow: var(--box-shadow-md)

@keyframes pulse
  0%
    transform: scale(1)
    opacity: 0.6

  50%
    transform: scale(1.2)
    opacity: 1

  100%
    transform: scale(1)
    opacity: 0.6



@mixin shimmer($duration: 1.2s)
  position: relative
  overflow: hidden
  height: 100%
  width: 100%

  &::before
    content: ""
    position: absolute
    inset: 0
    background: var(--gradient-bg-shimmer)
    animation: pulse $duration ease-in-out infinite
    border-radius: inherit
    pointer-events: none
    z-index: 1

.shimmer
  @include shimmer

.lazy-wrapper
  transition: background-color 0.3s ease

  .lazyloaded
    background-color: transparent !important
    webkit-animation: fade-in 0.35s ease-in
    animation: fade-in 0.35s ease-in

  img
    background-image: var(--gradient-bg-img)
    z-index: 2

  &.shadow
    box-shadow: var(--box-shadow-md)
