@use "abstracts/modules/list-unstyled"

.list-group
  @extend %list-unstyled

  .list-group-item
    position: relative
    display: flex
    align-items: center
    gap: 0.5rem
    padding-block: 0.75rem
    padding-inline: 2rem 1.5rem
    margin-block: 0
    border-top: var(--border-default)

    .icon
      flex-shrink: 0

    &:hover
      background-color: var(--color-bg-muted)
