@use "abstracts/tokens" as *
@use "abstracts/mixins/transition-properties" as *
@use "abstracts/mixins/breakpoints" as breakpoint

.navigation
  display: flex
  flex-direction: column
  margin-top: $fluid-space-lg

  @include breakpoint.min(md)
    flex-direction: row
    justify-content: space-between

.navigation-link
  display: block
  position: relative
  flex: 1
  padding: $fluid-space-md
  border: $border-width-default solid var(--color-border-control)
  border-radius: $border-radius-md
  background-color: var(--color-bg-control)
  text-align: center

  @include transition-properties((background-color, border-color, box-shadow), $duration: $motion-duration-fast, $easing: $motion-easing-ease)

  &:hover,
  &:focus
    background-color: var(--color-bg-control-hover)
    box-shadow: var(--box-shadow-sm)
    text-decoration: none

  &.disabled
    background-color: var(--color-bg-control-disabled)
    color: var(--color-fg-control-disabled)
    border-color: var(--color-border-control-disabled)

    .label,
    .title
      color: var(--color-fg-control-disabled)

  .label
    color: var(--color-fg-control)
    display: block
    margin-bottom: $space-sm
    text-transform: uppercase
    letter-spacing: 0.05em
    font-weight: $font-weight-bold

  .title
    font-size: 0.9em
    line-height: $line-height-paragraph

  &:first-child
    border-radius: $border-radius-default $border-radius-default 0 0
    inset: 0 0 -1px 0

  &:last-child
    border-radius: 0 0 $border-radius-default $border-radius-default
    inset: -1px 0 0 0

  @include breakpoint.min(md)
    &:first-child
      border-radius: $border-radius-default 0 0 $border-radius-default
      inset: 0 0 0 1px

    &:last-child
      border-radius: 0 $border-radius-default $border-radius-default 0
      inset: 0 1px 0 0
