.pagination-wrapper
  display: flex
  justify-content: space-between
  align-items: center
  margin-block: var(--fluid-space-base) var(--fluid-space-sm)
  flex-direction: row

  @media (max-width: 1024px)
    flex-direction: column-reverse
    gap: var(--space-sm)

.pagination
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center

  &-meta
    display: flex
    flex-wrap: wrap
    align-items: center
    color: var(--color-fg-muted)
    font-size: var(--font-size-sm)
    text-align: center

.page-link
  padding: var(--space-sm) var(--space-md)
  background-color: var(--color-bg-control)
  color: var(--color-fg-control)
  border: var(--border-default)
  font-size: var(--font-size-sm)
  margin-left: -1px

  &:first-child
    border-radius: var(--border-radius-small) 0 0 var(--border-radius-small)

  &:last-child
    border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0

  &.active
    background-color: var(--color-bg-accent-emphasis)
    color: var(--color-fg-on-emphasis)
    pointer-events: none

  &:hover:not(.active)
    background-color: var(--color-bg-control-hover)
    border-color: var(--color-border-control)
    text-decoration: none
