@use "abstracts/mixins/transition-properties" as *

#progress-bar
  position: fixed
  top: var(--space-none)
  left: var(--space-none)
  height: var(--size-xxs)
  width: 0%
  background-color: var(--color-bg-accent-emphasis)
  z-index: 9999
  opacity: var(--opacity-full)
  pointer-events: none

  @include transition-properties((width, opacity), $duration: var(--motion-duration-default), $easing: var(--motion-easing-in))

  &[data-state="done"]
    opacity: var(--opacity-none)

    @include transition-properties(opacity, $duration: var(--motion-duration-default), $easing: var(--motion-easing-in))
