@use "abstracts/tokens" as *
@use "abstracts/animations/slide-down" as *

.retro-counter-container
  display: inline-flex
  gap: $space-md
  align-items: center
  color: var(--color-fg-muted)
  text-align: center
  margin-top: $fluid-space-base
  font-size: $fluid-font-size-lg

.retro-counter
  display: flex
  gap: $space-xs
  background: var(--color-bg-retro-counter)
  border-radius: $border-radius-default
  border: 5px solid var(--color-bg-retro-counter)

  .digit
    width: $size-lg
    height: $size-xl
    animation: fade-in $motion-duration-default $motion-easing-ease both, slide-down $motion-duration-default $motion-easing-ease both

    @for $i from 1 through 6
      &:nth-child(#{$i})
        animation-delay: #{($i - 1) * 100}ms

use.on
  fill: var(--color-retro-counter-segment-active)

use.off
  fill: var(--color-retro-counter-segment-inactive)
