@use "abstracts/tokens" as *
@use "abstracts/animations/scroll-top" as *
@use "abstracts/mixins/transition-properties" as *
@use "abstracts/mixins/breakpoints" as breakpoint

.scroll-top
  position: fixed
  bottom: $space-xl
  right: $space-base
  z-index: 1000
  width: $space-xxl
  height: $space-xxl
  border-radius: $border-radius-full
  display: flex
  align-items: center
  justify-content: center
  opacity: $opacity-none
  visibility: hidden
  pointer-events: none
  transform: translateY(20px)

  @include transition-properties((right, background-color, color, border-color), $duration: $motion-duration-fast, $easing: $motion-easing-in-out)

  @include breakpoint.max(md)
    right: $space-md

  &[data-state="visible"]
    animation: scrollTopBounceIn $motion-duration-slow both
    pointer-events: auto
    opacity: $opacity-full

  &[data-state="hidden"]
    animation: scrollTopBounceOut $motion-duration-slow both
    pointer-events: none
    opacity: $opacity-none
