@use "abstracts/mixins/breakpoints" as breakpoint
@use "abstracts/mixins/transition-properties" as *
@use "abstracts/variables/globals" as *

// @keyframes cloudDrift
//   0%
//     transform: translateX(0)
//   100%
//     transform: translateX(-20%)
//
// .cloud-layers .cloud-shapes
//   animation: cloudDrift 60s linear infinite

.sky-banner-top
  display: flex
  flex-direction: column
  isolation: isolate
  overflow: hidden
  overflow: clip
  max-height: 100vh

  .cloud-layers
    position: absolute
    inset: 0 0 auto
    padding-top: 3rem
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    background: $sky-gradient
    overflow: hidden
    overflow: clip
    z-index: -1
    @include transition-properties(background, $duration: $sky-from-duration, $easing: $color-swap-timing-function)

    .cloud-shapes
      display: block
      max-width: revert
      width: 100%
      min-width: 5120px
      height: 100%
      overflow: visible
      transform: translateY(1px)

      @include breakpoint.between(sm, md)
        min-width: 670vw

      .background-clouds
        fill: var(--color-cloud-500)
        @include transition-properties(fill, $duration: $first-swoop-duration, $easing: $color-swap-timing-function)

      .midground-clouds
        fill: var(--color-cloud-300)
        @include transition-properties(fill, $duration: $second-swoop-duration, $easing: $color-swap-timing-function)

      .foreground-clouds
        fill: var(--color-bg-default)
        @include transition-properties(fill, $duration: $sky-to-duration, $easing: $color-swap-timing-function)

.sky-banner-bottom
  position: relative
  inset: auto 0 0 0
  height: 350px
  z-index: -1
  margin-top: -350px
  pointer-events: none
  overflow: hidden
  overflow: clip
  background: linear-gradient(to bottom, var(--color-sky-from), var(--color-sky-to))

  @include transition-properties(background, $duration: $sky-from-duration, $easing: $color-swap-timing-function)

  .cloud-layers-top-overlay
    display: block
    position: absolute
    inset: auto 50% 0 auto
    height: 50%
    width: 100%
    z-index: 1

    @include breakpoint.between(sm, md)
      inset: auto 30% 0 auto

    .bottom-cloud-overlay
      fill: var(--color-sky-bottom)
      @include transition-properties(fill, $duration: $first-swoop-duration, $easing: $color-swap-timing-function)

  .cloud-layers-bottom
    position: absolute
    inset: 0 0 auto 0
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    overflow: hidden
    overflow: clip
    margin-top: -1px

    .cloud-shapes-bottom
      display: block
      margin-top: -1px
      width: 100%
      height: 100%
      max-width: revert
      min-width: 5120px
      overflow: visible

      .bottom-background-clouds
        fill: var(--color-bg-default)
        @include transition-properties(fill, $duration: $sky-to-duration, $easing: $color-swap-timing-function)
