@use "abstracts/tokens" as *
@use "abstracts/mixins/breakpoints" as breakpoint
@use "abstracts/mixins/transition-properties" as *

.sky-banner-top
  display: flex
  flex-direction: column
  isolation: isolate
  overflow: hidden
  overflow: clip
  max-height: 100vh
  pointer-events: none

  .cloud-layers
    position: absolute
    inset: $space-none $space-none auto
    padding-top: $space-xxl
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    background: linear-gradient(to bottom, var(--color-bg-sky-from), var(--color-bg-sky-to))
    overflow: hidden
    overflow: clip
    z-index: -1
    @include transition-properties(background, $duration: $sky-from-duration, $easing: $color-swap-timing-function)

    &.inner
      background: linear-gradient(to bottom, hsl(from var(--color-bg-sky-subtle) h s l / .925), var(--color-bg-sky-subtle))

    .cloud-shapes
      display: block
      max-width: revert
      min-width: 5120px
      overflow: visible
      transform: translateZ(0) translateY(1px)

      @include breakpoint.between(sm, md)
        min-width: 670vw

      .background-clouds
        fill: var(--color-bg-cloud-500)
        @include transition-properties(fill, $duration: $first-swoop-duration, $easing: $color-swap-timing-function)

      .midground-clouds
        fill: var(--color-bg-cloud-300)
        @include transition-properties(fill, $duration: $second-swoop-duration, $easing: $color-swap-timing-function)

      .foreground-clouds
        fill: var(--color-bg-default)
        @include transition-properties(fill, $duration: $color-swap-duration, $easing: $color-swap-timing-function)

.sky-banner-bottom
  position: absolute
  inset: auto $space-none $space-none
  height: 350px
  z-index: -1
  pointer-events: none
  overflow: hidden
  overflow: clip
  background: linear-gradient(to top, hsl(from var(--color-bg-sky-subtle) h s l / .925), var(--color-bg-sky-subtle))

  @include transition-properties(background, $duration: $sky-from-duration, $easing: $color-swap-timing-function)

  .cloud-layers-top-overlay
    display: block
    position: absolute
    inset: auto 50% 0 auto
    z-index: 1
    transform: translateZ(0)

    .bottom-cloud-overlay
      fill: var(--color-bg-sky-bottom)
      @include transition-properties(fill, $duration: $first-swoop-duration, $easing: $color-swap-timing-function)

    @include breakpoint.between(sm, md)
      transform: translate(80px)

  .cloud-layers-bottom
    position: absolute
    inset: 0 0 auto
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    overflow: hidden
    overflow: clip
    margin-top: -1px

    .cloud-shapes-bottom
      display: block
      margin-top: -1px
      max-width: revert
      min-width: 5120px
      overflow: visible
      transform: translateZ(0)

      .bottom-background-clouds
        fill: var(--color-bg-default)
        @include transition-properties(fill, $duration: $color-swap-duration, $easing: $color-swap-timing-function)
