$separator-height: 4rem

.timeline-wrapper
  display: flex
  flex-direction: column

.timeline-posts
  margin: 0
  padding: 0

.timeline-year,
.timeline-post
  display: flex
  align-items: center
  position: relative
  gap: 0.75rem
  padding-block: 0.5rem
  border-radius: var(--border-radius-default)
  border: var(--border-width-default) solid var(--color-border-transparent)
  z-index: 2

.timeline-post
  box-shadow: var(--box-shadow-inset-muted)
  background-image: linear-gradient(var(--color-bg-accent-muted), var(--color-bg-accent-muted))
  border-color: var(--color-border-accent-muted)
  margin-bottom: 1rem

  @media (max-width: 768px)
    .timeline-left
      font-size: 0.85rem

.timeline-left
  flex: 0 0 5.5rem
  text-align: right
  padding-right: 0.5rem
  font-weight: var(--font-weight-medium)
  font-variant-numeric: tabular-nums
  color: var(--color-fg-muted)
  white-space: nowrap

  @media (max-width: 768px)
    flex: 0 0 4rem
    text-align: center
    padding-right: 0.25rem

.timeline-year
  .timeline-left
    color: var(--color-fg-default)

  .timeline-seperator
    &::before
      width: 1rem
      height: 1rem
      background: var(--color-bg-accent-emphasis)

      @media (max-width: 768px)
        width: 0.75rem
        height: 0.75rem

.timeline-seperator
  flex: 0 0 2rem
  display: flex
  justify-content: center
  align-items: center
  position: relative
  z-index: 1

  &::before
    content: ""
    width: 0.75rem
    height: 0.75rem
    background: var(--color-fg-accent)
    border: var(--border-width-medium) solid var(--color-border-default)
    box-shadow: 0 0 4px 0 var(--color-fg-neutral)
    border-radius: var(--border-radius-full)
    z-index: 2

    @media (max-width: 768px)
      width: 0.5rem
      height: 0.5rem

  &::after
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 2px
    height: $separator-height
    background: var(--color-border-default)
    z-index: 1

    .timeline-year:first-of-type &
      transform: translate(-50%, 0)
      height: calc($separator-height / 2)

    .timeline-year:last-of-type + .timeline-posts li:last-child &
      transform: translate(-50%, -100%)
      height: calc($separator-height / 2)

.timeline-right
  flex: 1
  word-wrap: break-word
  overflow-wrap: anywhere
