@use "abstracts/modules/list-unstyled"
@use "abstracts/modules/text-truncate"
@use "abstracts/mixins/breakpoints" as breakpoint
@use "abstracts/mixins/transition-properties" as *

$separator-height: var(--size-huge)

.timeline-wrapper
  display: flex
  flex-direction: column

.timeline-posts
  @extend %list-unstyled

.timeline-year,
.timeline-post
  display: flex
  align-items: center
  position: relative
  gap: var(--space-sm)
  padding-inline: var(--space-sm)
  padding-block: var(--space-sm)
  border-radius: var(--border-radius-default)
  border: var(--border-width-default) solid var(--color-border-transparent)
  z-index: 2

.timeline-post
  background-image: linear-gradient(var(--color-bg-accent-muted), var(--color-bg-accent-muted))
  border-color: var(--color-border-accent-muted)
  margin-bottom: var(--space-base)
  box-shadow: var(--box-shadow-sm)

  @include transition-properties(box-shadow, $duration: var(--motion-duration-default), $easing: var(--motion-easing-ease))

  @include breakpoint.max(md)
    .timeline-left
      font-size: 0.85rem

  &:hover
    box-shadow: var(--box-shadow-md)

.timeline-left
  flex: 0 0 5.5rem
  text-align: right
  font-weight: var(--font-weight-medium)
  font-variant-numeric: tabular-nums
  color: var(--color-fg-muted)
  white-space: nowrap

  @include breakpoint.max(md)
    flex: 0 0 4rem

.timeline-year
  .timeline-left
    color: var(--color-fg-default)
    margin-block: var(--space-sm)

  .timeline-seperator
    &::before
      width: var(--size-base)
      height: var(--size-base)
      background: var(--color-bg-accent-emphasis)
      box-shadow: 0 0 8px 2px var(--color-fg-accent)

.timeline-seperator
  flex: 0 0 2rem
  display: flex
  justify-content: center
  align-items: center
  position: relative
  z-index: 1

  &::before
    content: ""
    width: var(--size-md)
    height: var(--size-md)
    background: var(--color-fg-accent)
    border: var(--border-width-medium) solid var(--color-border-default)
    box-shadow: 0 0 8px 1px var(--color-fg-accent)
    border-radius: var(--border-radius-full)
    z-index: 2

  &::after
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: var(--size-xxxs)
    height: $separator-height
    background: var(--color-border-default)
    z-index: 1

    .timeline-year:first-of-type &
      transform: translate(-50%, 0)
      height: calc($separator-height / 2)

    .timeline-year:last-of-type + .timeline-posts li:last-child &
      transform: translate(-50%, -100%)
      height: calc($separator-height / 2)

.timeline-right
  flex: 1
  font-weight: var(--font-weight-medium)

  @extend %text-truncate
