$dark-colors: (
  bg-default: #212830,
  bg-muted: #262c36,
  bg-emphasis: #3d444d,
  bg-accent-emphasis: #316dca,
  bg-accent-muted: #4184e41a,
  bg-success-emphasis: #347d39,
  bg-success-muted: #46954a26,
  bg-attention-emphasis: #966600,
  bg-attention-muted: #ae7c1426,
  bg-neutral-emphasis: #656c76,
  bg-neutral-muted: #656c7633,
  bg-danger-emphasis: #c93c37,
  bg-danger-muted: #e5534b1a,
  bg-disabled: #2a313c,
  bg-transparent: #00000000,

  fg-default: #d1d7e0,
  fg-accent: #478be6,
  fg-muted: #9198a1,
  fg-on-emphasis: #f0f6fc,
  fg-neutral: #9198a1,
  fg-severe: #cc6b2c,
  fg-danger: #e5534b,
  fg-success: #57ab5a,
  fg-attention: #c69026,
  fg-link: var(--color-fg-accent),
  fg-link-hover: #005a9c,
  fg-link-visited: #4b0082,
  fg-link-focus: var(--color-fg-link-hover),
  fg-disabled: #656c76,
  fg-white: #cdd9e5,

  border-default: #3d444d,
  border-muted: #3d444db3,
  border-accent-emphasis: #316dca,
  border-accent-muted: #4184e466,
  border-attention-emphasis: #966600,
  border-attention-muted: #ae7c1466,
  border-danger-emphasis: #c93c37,
  border-danger-muted: #e5534b66,
  border-success-emphasis: #347d39,
  border-success-muted: #46954a66,
  border-neutral-muted: #3d444db3,
  border-disabled: #656c761a,
  border-emphasis: #656c76,
  border-translucent: #cdd9e526,
  border-transparent: #00000000,

  outline-focus: var(--color-border-accent-emphasis),

  bg-control: #2a313c,
  bg-control-hover: #2f3742,
  fg-control: var(--color-fg-default),
  border-control: var(--color-border-default),
  bg-control-disabled: var(--color-bg-disabled),
  fg-control-disabled: var(--color-fg-disabled),
  border-control-disabled: #656c761a,
  bg-control-active: #3d444d,
  bg-control-transparent: #00000000,
  border-control-transparent: #00000000,
  bg-control-transparent-hover: #656c7626,
  border-control-transparent-hover: #00000000,
  bg-control-transparent-active: #656c7633,
  border-control-transparent-active: #00000000,

  bg-button-primary: #2f81f7,
  fg-button-primary: var(--color-fg-white),
  border-button-primary: #2f81f7,
  bg-button-primary-hover: #1f6feb,
  fg-button-primary-hover: var(--color-fg-white),
  border-button-primary-hover: var(--color-border-button-primary),
  bg-button-primary-disabled: #3b4c66,
  fg-button-primary-disabled: var(--color-fg-disabled),
  border-button-primary-disabled: var(--color-bg-button-primary-disabled),
  bg-button-primary-active: #1a63d6,
  border-button-primary-active: #165cbe,

  bg-overlay-backdrop: #262c3666,
  bg-overlay: #2a313c,
  border-overlay: #3d444db3,

  code-syntax-comment: #768390,
  code-syntax-error-text: #f47067,
  code-syntax-error-bg: #78191b33,
  code-syntax-keyword: #f47067,
  code-syntax-namespace: #b392f0,
  code-syntax-number: #6cb6ff,
  code-syntax-string: #96d0ff,
  code-syntax-name: #8ddb8c,
  code-syntax-builtin: #f69d50,
  code-syntax-decorator: #dcbdfb,
  code-syntax-entity: #dcb67a,
  code-syntax-function: #6cb6ff,
  code-syntax-tag: #8ddb8c,
  code-syntax-symbol: #f69d50,
  code-syntax-subtle: #444c56,
  code-syntax-heading: #cdd9e5,
  code-syntax-inserted-bg: #033a16,
  code-syntax-inserted-text: #8ddb8c,
  code-syntax-deleted-bg: #78191b33,
  code-syntax-deleted-text: #f47067,
  code-syntax-output: #768390,
  code-syntax-meta: #adbac7,

  bg-hero-content: linear-gradient(rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.015)),
  border-hero-content: rgba(255, 255, 255, 0.06),
)

$dark-box-shadows: (
  floating-legacy: "0px 6px 12px -3px #01040966, 0px 6px 18px 0px #01040966",
  floating-sm: "0px 0px 0px 1px #3d444d, 0px 6px 12px -3px #01040966, 0px 6px 18px 0px #01040966",
  inset-muted: "inset 0 0 0.25rem #00000040",
  avatar: 0px 0px 0px 2px #cdd9e533,

  hero-content-default: "0 2px 4px rgba(0, 0, 0, 0.4), 0 6px 20px rgba(0, 0, 0, 0.6)",
)

$dark-text-shadows: (
  contrast-soft: 0 1px 1px rgba(255, 255, 255, 0.1),
)
