$light-colors: (
  bgDefault: hsl(0deg 0% 100%),
  bgMuted: #f6f8fa,
  bgAccentEmphasis: #0969da,
  bgAccentMuted: #ddf4ff,
  bgSuccessEmphasis: #1f883d,
  bgSuccessMuted: #dafbe1,
  bgAttentionEmphasis: #9a6700,
  bgAttentionMuted: #fff8c5,
  bgNeutralMuted: #818b981f,
  bgDangerEmphasis: #cf222e,
  bgDangerMuted: #ffebe9,
  bgDisabled: #eff2f5,
  bgTransparent: #ffffff00,

  fgDefault: #1f2328,
  fgAccent: #0969da,
  fgMuted: #59636e,
  fgOnEmphasis: #ffffff,
  fgNeutral: #59636e,
  fgDanger: #d1242f,
  fgSuccess: #1a7f37,
  fgAttention: #9a6700,
  fgLink: var(--color-fg-accent),
  fgLinkVisited: #4b0082,
  fgDisabled: #818b98,
  fgAccentOnEmphasis: #294e60,

  borderDefault: #d1d9e0,
  borderMuted: #d1d9e0b3,
  borderAccentEmphasis: #0969da,
  borderAccentMuted: #54aeff66,
  borderAttentionEmphasis: #9a6700,
  borderAttentionMuted: #d4a72c66,
  borderDangerEmphasis: #cf222e,
  borderDangerMuted: #ff818266,
  borderSuccessEmphasis: #1a7f37,
  borderSuccessMuted: #4ac26b66,
  borderNeutralMuted: var(--color-border-muted),
  borderDisabled: #818b981a,
  borderTranslucent: #1f232826,
  borderTransparent: #ffffff00,

  outlineFocus: var(--color-border-accent-emphasis),

  bgControl: #f6f8fa,
  bgControlHover: #eff2f5,
  fgControl: #25292e,
  borderControl: var(--color-border-default),
  bgControlDisabled: var(--color-bg-disabled),
  fgControlDisabled: var(--color-fg-disabled),
  borderControlDisabled: var(--color-border-disabled),
  bgControlActive: #e6eaef,
  bgControlTransparent: #ffffff00,
  borderControlTransparent: #ffffff00,
  bgControlTransparentHover: #818b981a,
  borderControlTransparentHover: #ffffff00,
  bgControlTransparentActive: #818b9826,
  borderControlTransparentActive: #ffffff00,

  bgOverlayBackdrop: #c8d1da66,
  bgOverlay: #ffffff,
  borderOverlay: #d1d9e080,

  codeSyntaxComment: #6a737d,
  codeSyntaxErrorText: #e05252,
  codeSyntaxErrorBg: #ffeef0,
  codeSyntaxKeyword: #d73a49,
  codeSyntaxNamespace: #6f42c1,
  codeSyntaxNumber: #005cc5,
  codeSyntaxString: #032f62,
  codeSyntaxName: #22863a,
  codeSyntaxBuiltin: #b31d28,
  codeSyntaxDecorator: #b392f0,
  codeSyntaxEntity: #795548,
  codeSyntaxFunction: #005cc5,
  codeSyntaxTag: #22863a,
  codeSyntaxSymbol: #e36209,
  codeSyntaxSubtle: #d1d5da,
  codeSyntaxHeading: #24292e,
  codeSyntaxInsertedBg: #e6ffed,
  codeSyntaxInsertedText: #22863a,
  codeSyntaxDeletedBg: #ffeef0,
  codeSyntaxDeletedText: #b31d28,
  codeSyntaxOutput: #586069,
  codeSyntaxMeta: #444d56,

  bgSelection: var(--color-bg-accent-muted),
  fgSelection: var(--color-fg-default),

  bgScrollbar: var(--color-bg-muted),
  bgScrollbarThumb: #d0d7de,
  bgScrollbarThumbHover: #b9c3cd,

  bgRetroCounter: hsl(213deg 80% 95%),
  retroCounterSegmentActive: #4a5882,
  retroCounterSegmentInactive: #d1ddeb,

  cloud100: hsl(203deg 60% 95%),
  cloud300: hsl(202deg 68% 92%),
  cloud400: hsl(201deg 60% 86%),
  cloud500: hsl(200deg 80% 83%),
  skyFrom: hsl(200deg 70% 78%),
  skyTo: hsl(200deg 70% 70%),
  skySubtle: hsl(200deg 90% 88%),
  skyBottom: #b1dff6,
)

$light-box-shadows: (
  floatingLegacy: "0px 6px 12px -3px #25292e0a, 0px 6px 18px 0px #25292e1f",
  floatingSm: "0px 0px 0px 1px #d1d9e080, 0px 6px 12px -3px #25292e0a, 0px 6px 18px 0px #25292e1f",
  insetMuted: "inset 0 0 0.25rem #FFFFFF40",
  avatar: 0px 0px 0px 2px #ffffffcc,

  xs: 0 0 2px 0 rgba(0, 0, 0, 0.06),
  sm: 0 0 4px 0 rgba(0, 0, 0, 0.08),
  md: 0 0 8px 1px rgba(0, 0, 0, 0.12),
  lg: 0 0 12px 2px rgba(0, 0, 0, 0.16),
  xl: 0 0 20px 4px rgba(0, 0, 0, 0.2),
  xxl: 0 0 35px 6px rgba(0, 0, 0, 0.25),
)

$light-text-shadows: (
  contrastSoft: 0 1px 1px rgba(0, 0, 0, 0.2),
)

$light-gradients: (
  bgShimmer: radial-gradient(circle, rgba(30, 136, 229, 0) 0%, rgba(30, 136, 229, .05) 35%, rgba(30, 136, 229, .1) 50%, rgba(30, 136, 229, .05) 65%, rgba(30, 136, 229, 0) 100%),
  bgShimmerPseudo: linear-gradient(90deg, rgba(30, 136, 229, 0) 0%, rgba(30, 136, 229, .1) 50%, rgba(30, 136, 229, 0) 100%),
)
