$light: (
  color-bg-default: #ffffff,
  color-bg-muted: #f6f8fa,
  color-bg-emphasis: #25292e,
  color-bg-accent-emphasis: #0969da,
  color-bg-accent-muted: #ddf4ff,
  color-bg-success-emphasis: #1f883d,
  color-bg-success-muted: #dafbe1,
  color-bg-attention-emphasis: #9a6700,
  color-bg-attention-muted: #fff8c5,
  color-bg-neutral-emphasis: #59636e,
  color-bg-neutral-muted: #818b981f,
  color-bg-danger-emphasis: #cf222e,
  color-bg-danger-muted: #ffebe9,
  color-bg-disabled: #eff2f5,
  color-bg-transparent: #ffffff00,

  color-fg-default: #1f2328,
  color-fg-accent: #0969da,
  color-fg-muted: #59636e,
  color-fg-on-emphasis: #ffffff,
  color-fg-neutral: #59636e,
  color-fg-severe: #bc4c00,
  color-fg-danger: #d1242f,
  color-fg-success: #1a7f37,
  color-fg-attention: #9a6700,
  color-fg-link: var(--color-fg-accent),
  color-fg-link-hover: #005a9c,
  color-fg-link-visited: #4b0082,
  color-fg-link-focus: var(--color-fg-link-hover),
  color-fg-disabled: #818b98,
  color-fg-white: #ffffff,

  color-border-default: #d1d9e0,
  color-border-muted: #d1d9e0b3,
  color-border-accent-emphasis: #0969da,
  color-border-accent-muted: #54aeff66,
  color-border-attention-emphasis: #9a6700,
  color-border-attention-muted: #d4a72c66,
  color-border-danger-emphasis: #cf222e,
  color-border-danger-muted: #ff818266,
  color-border-success-emphasis: #1a7f37,
  color-border-success-muted: #4ac26b66,
  color-border-neutral-muted: var(--color-border-muted),
  color-border-disabled: #818b981a,
  color-border-emphasis: #818b98,
  color-border-translucent: #1f232826,
  color-border-transparent: #ffffff00,

  color-outline-focus: var(--color-border-accent-emphasis),

  color-bg-control: #f6f8fa,
  color-bg-control-hover: #eff2f5,
  color-fg-control: #25292e,
  color-border-control: var(--color-border-default),
  color-bg-control-disabled: var(--color-bg-disabled),
  color-fg-control-disabled: var(--color-fg-disabled),
  color-border-control-disabled: var(--color-border-disabled),
  color-bg-control-active: #e6eaef,
  color-bg-control-transparent: #ffffff00,
  color-border-control-transparent: #ffffff00,
  color-bg-control-transparent-hover: #818b981a,
  color-border-control-transparent-hover: #ffffff00,
  color-bg-control-transparent-active: #818b9826,
  color-border-control-transparent-active: #ffffff00,

  color-bg-button-primary: #0d6efd,
  color-fg-button-primary: var(--color-fg-white),
  color-border-button-primary: #0d6efd,
  color-bg-button-primary-hover: #0b5ed7,
  color-fg-button-primary-hover: var(--color-fg-white),
  color-border-button-primary-hover: var(--color-border-button-primary),
  color-bg-button-primary-disabled: #3d8cff,
  color-fg-button-primary-disabled: var(--color-fg-white),
  color-border-button-primary-disabled: var(--color-bg-button-primary-disabled),
  color-bg-button-primary-active: #0a58ca,
  color-border-button-primary-active: #0a53be,

  color-bg-overlay-backdrop: #c8d1da66,
  color-bg-overlay: #ffffff,
  color-border-overlay: #d1d9e080,

  color-code-syntax-comment: #6a737d,
  color-code-syntax-error-text: #e05252,
  color-code-syntax-error-bg: #ffeef0,
  color-code-syntax-keyword: #d73a49,
  color-code-syntax-namespace: #6f42c1,
  color-code-syntax-number: #005cc5,
  color-code-syntax-string: #032f62,
  color-code-syntax-name: #22863a,
  color-code-syntax-builtin: #b31d28,
  color-code-syntax-decorator: #b392f0,
  color-code-syntax-entity: #795548,
  color-code-syntax-function: #005cc5,
  color-code-syntax-tag: #22863a,
  color-code-syntax-symbol: #e36209,
  color-code-syntax-subtle: #d1d5da,
  color-code-syntax-heading: #24292e,
  color-code-syntax-inserted-bg: #e6ffed,
  color-code-syntax-inserted-text: #22863a,
  color-code-syntax-deleted-bg: #ffeef0,
  color-code-syntax-deleted-text: #b31d28,
  color-code-syntax-output: #586069,
  color-code-syntax-meta: #444d56,

  box-shadow-floating-legacy: "0px 6px 12px -3px #25292e0a, 0px 6px 18px 0px #25292e1f",
  box-shadow-floating-sm: "0px 0px 0px 1px #d1d9e080, 0px 6px 12px -3px #25292e0a, 0px 6px 18px 0px #25292e1f",
  box-shadow-inset-muted: "inset 0 0 0.25rem #FFFFFF40",
  box-shadow-avatar: 0px 0px 0px 2px #ffffffcc,

  text-shadow-contrast-soft: 0 1px 1px rgba(0, 0, 0, 0.2),
)
