$light-colors: (
  bg-default: #ffffff,
  bg-muted: #f6f8fa,
  bg-emphasis: #25292e,
  bg-accent-emphasis: #0969da,
  bg-accent-muted: #ddf4ff,
  bg-success-emphasis: #1f883d,
  bg-success-muted: #dafbe1,
  bg-attention-emphasis: #9a6700,
  bg-attention-muted: #fff8c5,
  bg-neutral-emphasis: #59636e,
  bg-neutral-muted: #818b981f,
  bg-danger-emphasis: #cf222e,
  bg-danger-muted: #ffebe9,
  bg-disabled: #eff2f5,
  bg-transparent: #ffffff00,

  fg-default: #1f2328,
  fg-accent: #0969da,
  fg-muted: #59636e,
  fg-on-emphasis: #ffffff,
  fg-neutral: #59636e,
  fg-severe: #bc4c00,
  fg-danger: #d1242f,
  fg-success: #1a7f37,
  fg-attention: #9a6700,
  fg-link: var(--color-fg-accent),
  fg-link-hover: #005a9c,
  fg-link-visited: #4b0082,
  fg-link-focus: var(--color-fg-link-hover),
  fg-disabled: #818b98,
  fg-white: #ffffff,

  border-default: #d1d9e0,
  border-muted: #d1d9e0b3,
  border-accent-emphasis: #0969da,
  border-accent-muted: #54aeff66,
  border-attention-emphasis: #9a6700,
  border-attention-muted: #d4a72c66,
  border-danger-emphasis: #cf222e,
  border-danger-muted: #ff818266,
  border-success-emphasis: #1a7f37,
  border-success-muted: #4ac26b66,
  border-neutral-muted: var(--color-border-muted),
  border-disabled: #818b981a,
  border-emphasis: #818b98,
  border-translucent: #1f232826,
  border-transparent: #ffffff00,

  outline-focus: var(--color-border-accent-emphasis),

  bg-control: #f6f8fa,
  bg-control-hover: #eff2f5,
  fg-control: #25292e,
  border-control: var(--color-border-default),
  bg-control-disabled: var(--color-bg-disabled),
  fg-control-disabled: var(--color-fg-disabled),
  border-control-disabled: var(--color-border-disabled),
  bg-control-active: #e6eaef,
  bg-control-transparent: #ffffff00,
  border-control-transparent: #ffffff00,
  bg-control-transparent-hover: #818b981a,
  border-control-transparent-hover: #ffffff00,
  bg-control-transparent-active: #818b9826,
  border-control-transparent-active: #ffffff00,

  bg-button-primary: #0d6efd,
  fg-button-primary: var(--color-fg-white),
  border-button-primary: #0d6efd,
  bg-button-primary-hover: #0b5ed7,
  fg-button-primary-hover: var(--color-fg-white),
  border-button-primary-hover: var(--color-border-button-primary),
  bg-button-primary-disabled: #3d8cff,
  fg-button-primary-disabled: var(--color-fg-white),
  border-button-primary-disabled: var(--color-bg-button-primary-disabled),
  bg-button-primary-active: #0a58ca,
  border-button-primary-active: #0a53be,

  bg-overlay-backdrop: #c8d1da66,
  bg-overlay: #ffffff,
  border-overlay: #d1d9e080,

  code-syntax-comment: #6a737d,
  code-syntax-error-text: #e05252,
  code-syntax-error-bg: #ffeef0,
  code-syntax-keyword: #d73a49,
  code-syntax-namespace: #6f42c1,
  code-syntax-number: #005cc5,
  code-syntax-string: #032f62,
  code-syntax-name: #22863a,
  code-syntax-builtin: #b31d28,
  code-syntax-decorator: #b392f0,
  code-syntax-entity: #795548,
  code-syntax-function: #005cc5,
  code-syntax-tag: #22863a,
  code-syntax-symbol: #e36209,
  code-syntax-subtle: #d1d5da,
  code-syntax-heading: #24292e,
  code-syntax-inserted-bg: #e6ffed,
  code-syntax-inserted-text: #22863a,
  code-syntax-deleted-bg: #ffeef0,
  code-syntax-deleted-text: #b31d28,
  code-syntax-output: #586069,
  code-syntax-meta: #444d56,

  bg-hero-content: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.02)),
  border-hero-content: rgba(255, 255, 255, 0.1),

  bg-selection: var(--color-bg-accent-muted),
  fg-selection: var(--color-fg-default),

  bg-scrollbar: var(--color-bg-muted),
  bg-scrollbar-thumb: #d0d7de,
  bg-scrollbar-thumb-hover: #b9c3cd,
)

$light-box-shadows: (
  floating-legacy: "0px 6px 12px -3px #25292e0a, 0px 6px 18px 0px #25292e1f",
  floating-sm: "0px 0px 0px 1px #d1d9e080, 0px 6px 12px -3px #25292e0a, 0px 6px 18px 0px #25292e1f",
  inset-muted: "inset 0 0 0.25rem #FFFFFF40",
  avatar: 0px 0px 0px 2px #ffffffcc,

  xs: 0 0 2px 0 rgba(0, 0, 0, 0.06),
  sm: 0 0 4px 0 rgba(0, 0, 0, 0.08),
  md: 0 0 8px 1px rgba(0, 0, 0, 0.12),
  lg: 0 0 12px 2px rgba(0, 0, 0, 0.16),
  xl: 0 0 20px 4px rgba(0, 0, 0, 0.2),
  xxl: 0 0 35px 6px rgba(0, 0, 0, 0.25),

  hero-content-default: 0 8px 32px rgba(0, 0, 0, 0.35),
)

$light-text-shadows: (
  contrast-soft: 0 1px 1px rgba(0, 0, 0, 0.2),
)

$light-gradients: (
  bg-shimmer: radial-gradient(circle, rgba(30, 136, 229, 0) 0%, rgba(30, 136, 229, .05) 35%, rgba(30, 136, 229, .1) 50%, rgba(30, 136, 229, .05) 65%, rgba(30, 136, 229, 0) 100%),
  bg-shimmer-pseudo: linear-gradient(90deg, rgba(30, 136, 229, 0) 0%, rgba(30, 136, 229, .1) 50%, rgba(30, 136, 229, 0) 100%),
)
