$dark-theme: (
  bgColor-default: #212830,
  bgColor-muted: #262c36,
  bgColor-emphasis: #3d444d,
  bgColor-accent-emphasis: #316dca,
  bgColor-accent-muted: #4184e41a,
  bgColor-success-emphasis: #347d39,
  bgColor-success-muted: #46954a26,
  bgColor-attention-emphasis: #966600,
  bgColor-attention-muted: #ae7c1426,
  bgColor-neutral-emphasis: #656c76,
  bgColor-neutral-muted: #656c7633,
  bgColor-danger-emphasis: #c93c37,
  bgColor-danger-muted: #e5534b1a,
  bgColor-disabled: #2a313c,
  fgColor-default: #d1d7e0,
  fgColor-accent: #478be6,
  fgColor-attention: #c69026,
  fgColor-muted: #9198a1,
  fgColor-onEmphasis: #f0f6fc,
  fgColor-onInverse: #010409,
  fgColor-neutral: #9198a1,
  fgColor-severe: #cc6b2c,
  fgColor-danger: #e5534b,
  fgColor-success: #57ab5a,
  fgColor-link: var(--fgColor-accent),
  fgColor-link-hover: #005a9c,
  fgColor-visited: #4b0082,
  fgColor-link-focus: var(--fgColor-link-hover),
  fgColor-disabled: #656c76,
  fgColor-white: #cdd9e5,
  borderColor-default: #3d444d,
  borderColor-muted: #3d444db3,
  borderColor-accent-emphasis: #316dca,
  borderColor-accent-muted: #4184e466,
  borderColor-attention-emphasis: #966600,
  borderColor-attention-muted: #ae7c1466,
  borderColor-danger-emphasis: #c93c37,
  borderColor-danger-muted: #e5534b66,
  borderColor-success-emphasis: #347d39,
  borderColor-success-muted: #46954a66,
  borderColor-neutral-muted: #3d444db3,
  borderColor-disabled: #656c761a,
  borderColor-emphasis: #656c76,
  focus-outlineColor: var(--borderColor-accent-emphasis),
  shadow-floating-legacy: "0px 6px 12px -3px #01040966, 0px 6px 18px 0px #01040966",
  shadow-floating-small: "0px 0px 0px 1px #3d444d, 0px 6px 12px -3px #01040966, 0px 6px 18px 0px #01040966",
  avatar-shadow: 0px 0px 0px 2px #cdd9e533,
  control-bgColor: #2a313c,
  control-bgColor-hover: #2f3742,
  control-fgColor: var(--fgColor-default),
  control-borderColor: var(--borderColor-default),
  control-bgColor-disabled: var(--bgColor-disabled),
  control-fgColor-disabled: var(--fgColor-disabled),
  control-borderColor-disabled: #656c761a,
  control-bgColor-active: #3d444d,
  control-transparent-bgColor: #00000000,
  control-transparent-borderColor: #00000000,
  control-transparent-bgColor-hover: #656c7626,
  control-transparent-borderColor-hover: #00000000,
  control-transparent-bgColor-active: #656c7633,
  control-transparent-borderColor-active: #00000000,
  button-primary-bgColor: #2f81f7,
  button-primary-fgColor: var(--fgColor-white),
  button-primary-borderColor: #2f81f7,
  button-primary-bgColor-hover: #1f6feb,
  button-primary-fgColor-hover: var(--fgColor-white),
  button-primary-borderColor-hover: var(--button-primary-borderColor),
  button-primary-bgColor-disabled: #3b4c66,
  button-primary-fgColor-disabled: var(--fgColor-disabled),
  button-primary-borderColor-disabled: var(--button-primary-bgColor-disabled),
  button-primary-bgColor-active: #1a63d6,
  button-primary-borderColor-active: #165cbe,
  overlay-backdrop-bgColor: #262c3666,
  overlay-bgColor: #2a313c,
  overlay-borderColor: #3d444db3,
  color-code-syntax-comment: #768390,
  color-code-syntax-error-text: #f47067,
  color-code-syntax-error-bg: #78191b33,
  color-code-syntax-keyword: #f47067,
  color-code-syntax-namespace: #b392f0,
  color-code-syntax-number: #6cb6ff,
  color-code-syntax-string: #96d0ff,
  color-code-syntax-name: #8ddb8c,
  color-code-syntax-builtin: #f69d50,
  color-code-syntax-decorator: #dcbdfb,
  color-code-syntax-entity: #dcb67a,
  color-code-syntax-function: #6cb6ff,
  color-code-syntax-tag: #8ddb8c,
  color-code-syntax-symbol: #f69d50,
  color-code-syntax-subtle: #444c56,
  color-code-syntax-heading: #cdd9e5,
  color-code-syntax-inserted-bg: #033a16,
  color-code-syntax-inserted-text: #8ddb8c,
  color-code-syntax-deleted-bg: #78191b33,
  color-code-syntax-deleted-text: #f47067,
  color-code-syntax-output: #768390,
  color-code-syntax-meta: #adbac7,
  color-twitter:  #1A8CD8,
  color-facebook: #145DBF,
  color-telegram: #0075A9,
  color-linkedin: #084C89,
  color-whatsapp: #20B255
)
