$light-theme: (
  bgColor-default: #ffffff,
  bgColor-muted: #f6f8fa,
  bgColor-emphasis: #25292e,
  bgColor-accent-emphasis: #0969da,
  bgColor-accent-muted: #ddf4ff,
  bgColor-attention-emphasis: #9a6700,
  bgColor-attention-muted: #fff8c5,
  bgColor-neutral-emphasis: #59636e,
  bgColor-neutral-muted: #818b981f,
  bgColor-danger-emphasis: #cf222e,
  bgColor-danger-muted: #ffebe9,
  bgColor-disabled: #eff2f5,
  fgColor-default: #1f2328,
  fgColor-accent: #0969da,
  fgColor-muted: #59636e,
  fgColor-onEmphasis: #ffffff,
  fgColor-onInverse: #ffffff,
  fgColor-neutral: #59636e,
  fgColor-severe: #bc4c00,
  fgColor-danger: #d1242f,
  fgColor-success: #1a7f37,
  fgColor-link: var(--fgColor-accent),
  fgColor-link-hover: #005a9c,
  fgColor-visited: #4b0082,
  fgColor-link-focus: var(--fgColor-link-hover),
  fgColor-disabled: #818b98,
  fgColor-white: #ffffff,
  borderColor-default: #d1d9e0,
  borderColor-muted: #d1d9e0b3,
  borderColor-accent-emphasis: #0969da,
  borderColor-accent-muted: #54aeff66,
  borderColor-neutral-muted: var(--borderColor-muted),
  borderColor-disabled: #818b981a,
  borderColor-emphasis: #818b98,
  focus-outlineColor: var(--borderColor-accent-emphasis),
  shadow-floating-legacy: "0px 6px 12px -3px #25292e0a, 0px 6px 18px 0px #25292e1f",
  shadow-floating-small: "0px 0px 0px 1px #d1d9e080, 0px 6px 12px -3px #25292e0a, 0px 6px 18px 0px #25292e1f",
  avatar-shadow: 0px 0px 0px 2px #ffffffcc,
  control-bgColor: #f6f8fa,
  control-bgColor-hover: #eff2f5,
  control-fgColor: #25292e,
  control-borderColor: var(--borderColor-default),
  control-bgColor-disabled: var(--bgColor-disabled),
  control-fgColor-disabled: var(--fgColor-disabled),
  control-borderColor-disabled: var(--borderColor-disabled),
  control-bgColor-active: #e6eaef,
  control-transparent-bgColor: #ffffff00,
  control-transparent-borderColor: #ffffff00,
  control-transparent-bgColor-hover: #818b981a,
  control-transparent-borderColor-hover: #ffffff00,
  control-transparent-bgColor-active: #818b9826,
  control-transparent-borderColor-active: #ffffff00,
  button-primary-bgColor: #0d6efd,
  button-primary-fgColor: var(--fgColor-white),
  button-primary-borderColor: #0d6efd,
  button-primary-bgColor-hover: #0b5ed7,
  button-primary-fgColor-hover: var(--fgColor-white),
  button-primary-borderColor-hover: var(--button-primary-borderColor),
  button-primary-bgColor-disabled: #3d8cff,
  button-primary-fgColor-disabled: var(--fgColor-white),
  button-primary-borderColor-disabled: var(--button-primary-bgColor-disabled),
  button-primary-bgColor-active: #0a58ca,
  button-primary-borderColor-active: #0a53be,
  overlay-backdrop-bgColor: #c8d1da66,
  overlay-bgColor: #ffffff,
  overlay-borderColor: #d1d9e080,
  color-code-syntax-comment: #6a737d,
  color-code-syntax-error-text: #e05252,
  color-code-syntax-error-bg: #ffeef0,
  color-code-syntax-keyword: #d73a49,
  color-code-syntax-namespace: #6f42c1,
  color-code-syntax-number: #005cc5,
  color-code-syntax-string: #032f62,
  color-code-syntax-name: #22863a,
  color-code-syntax-builtin: #b31d28,
  color-code-syntax-decorator: #b392f0,
  color-code-syntax-entity: #795548,
  color-code-syntax-function: #005cc5,
  color-code-syntax-tag: #22863a,
  color-code-syntax-symbol: #e36209,
  color-code-syntax-subtle: #d1d5da,
  color-code-syntax-heading: #24292e,
  color-code-syntax-inserted-bg: #e6ffed,
  color-code-syntax-inserted-text: #22863a,
  color-code-syntax-deleted-bg: #ffeef0,
  color-code-syntax-deleted-text: #b31d28,
  color-code-syntax-output: #586069,
  color-code-syntax-meta: #444d56,
  color-twitter:  #1DA1F2,
  color-facebook: #1877F2,
  color-telegram: #0088CC,
  color-linkedin: #0A66C2,
  color-whatsapp: #25D366
)
