---
layout: default
---

{% assign type = page.type %}
{% assign title = "" %}

{% if type == "tag" %}
  {% assign title = "Posts tagged with: " | append: page.title %}
{% elsif type == "category" %}
  {% assign title = "Posts in category: " | append: page.title %}
{% else %}
  {% assign title = "Archive: " | append: page.title %}
{% endif %}

<h1 class="page-title">
  {{ title }}
</h1>

<div class="page-content" role="article" aria-labelledby="page-title">
  {% include post-list.html posts=page.posts %}
</div>
