<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
  {% include head.html %}
  {% include head-scripts.html %}
</head>
<body>
  <div id="progress-bar"></div>

  <button type="button" class="skip-link" data-skip-link data-skip-to="#main-content">Skip to main content</button>

  {% include layout/header-drawer.html %}

  {% include sky-banner-top.html %}

  <div class="container">
    <div class="page-wrapper" data-glass-trigger>
      {% include header.html %}

      <main id="main-content" class="main-content" role="main" tabindex="-1">
        {{ content }}
      </main>

      {% include footer.html %}
    </div>
  </div>

  <button type="button" id="scroll-top" class="btn scroll-top" aria-label="Scroll to top" data-scroll-top>
   {% icon arrow-up %}
  </button>

  <div id="mask"></div>

  {% include sky-banner-bottom.html %}

  {% include scripts.html %}
</body>
</html>
