<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
  {% include head.html %}
</head>
<body>
  {% include sprite.svg %}
  {% include progress-bar.html %}
  {% include skip-link.html %}
  {% include sidebar.html %}

  <main id="main-content" class="main-content" role="main" tabindex="-1">
    <div class="container">
      {{ content }}
    </div>
  </main>

  {% include footer.html %}

  {% include scroll_top.html %}
  <script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
