<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
  {% include head.html %}
  {% include head-scripts.html %}
</head>
<body>
  <div id="progress-bar"></div>

  <button type="button" class="skip-link" data-skip-link data-skip-to="#main-content">Skip to main content</button>

  <div class="page-wrapper">
    {% include sidebar.html %}

    <main id="main-content" class="main-content" role="main" tabindex="-1">
      <div class="container">
        {% include breadcrumbs.html %}

        {{ content }}
      </div>
    </main>

    {% include footer.html %}
  </div>

  <button type="button" id="scroll-top" class="btn btn-primary scroll-top" aria-label="Scroll to top" data-scroll-top>
   {% icon arrow-up %}
  </button>

  <div id="mask"></div>

  {% include scripts.html %}
</body>
</html>
