<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
  {% include head.html %}
  {% include head-scripts.html %}
</head>
<body>
  <div id="progress-bar"></div>

  {% include sky-top.html %}

  <div class="home-grid">
    {% include header.html %}
    {% include hero.html %}

    <main id="main-content" class="main-content" role="main" tabindex="-1">
      <div class="container">
        <div class="content-grid">
          {% include home/pinned-posts.html %}
          {% include home/featured-posts.html %}
          {% include home/trending-tags.html %}
          {% include home/popular-categories.html %}
          {% include home/recently-updated-posts.html %}
        </div>
      </div>
    </main>

    {% include footer.html %}
  </div>

  {% include sky-bottom.html %}

  <button type="button" id="scroll-top" class="btn btn-primary scroll-top" aria-label="Scroll to top" data-scroll-top>
   {% icon arrow-up %}
  </button>

  {% include scripts.html %}
</body>
</html>
