---
layout: page
---

<article class="post-content" aria-labelledby="page-title">
  <meta itemprop="datePublished" content="{{ page.published_at | date_to_xmlschema }}">
  <meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">
  <meta itemprop="headline" content="{{ page.title }}">
  <meta itemprop="mainEntityOfPage" content="{{ page.url | absolute_url }}">

  <header class="post-header">
    <div class="post-meta post-meta-primary" role="group" aria-label="Post metadata">
      {% include posts/meta.html post = page %}
    </div>

    {% include posts/author.html post = page %}
  </header>

  {% include cover-image.html page = page %}

  {% toc %}

  {{ content }}

  {%- include series/post-nav.html -%}

  <div class="post-meta post-meta-secondary" role="group" aria-label="Post metadata">
    {% include posts/categories.html post = post link = true %}
    {% include posts/tags.html post = post %}
  </div>

  <footer class="post-footer">
    <p>I hope you’ve found this post informative and helpful. Thank you for reading!</p>
    <div class="post-footer-content">
      <div class="copyright">
        This post is licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer">CC BY 4.0</a> by the author.
      </div>

      <section aria-labelledby="share-title">
        <h3 id="share-title" class="visually-hidden">Share this post</h3>
        {% include posts/share.html post = page %}
      </section>
    </div>
  </footer>

  {%- include navigation.html -%}
</article>
