{%- assign recently_updated_posts = site.data.recently_updated_posts -%}

{% if site.recently_updated_posts.enabled and recently_updated_posts != empty %}
<section class="recently-updated-posts" aria-labelledby="recent-posts-heading">
  <h2 id="recent-posts-heading" class="section">Recently Updated</h2>
  <ul class="recently-updated-list">
  {% for post in recently_updated_posts %}
    <li>
      <a href="{{ post.url | relative_url }}" class="recently-updated-post link-muted">
        {% svg arrow-right %}
        {{ post.title | titleify }}
      </a>
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %}
