{%- assign trending_tags = site.data.trending_tags -%}

{% if site.trending_tags.enabled and trending_tags != empty %}
<section class="trending-tags" aria-labelledby="trending-tags-heading">
  <h2 id="trending-tags-heading" class="section">Trending Tags</h2>
  <ul class="tags">
    {% for tag in trending_tags %}
      {%- assign tag_name = tag.name -%}
      <li class="tag">
        {%- assign tag_slug = tag_name | slugify -%}
        <a href="{{ '/tag/' | append: tag_slug | relative_url }}" class="tag-link link-muted"
           rel="tag" aria-label="Tag: {{ tag_name }}">
          <span class="tag-name">{{ tag_name | prepend: "#" }}</span>
        </a>
        <span class="tag-count">{{ tag.posts_count }}</span>
      </li>
    {% endfor -%}
  </ul>
</section>
{% endif %}
