@use "abstracts/mixins/breakpoints" as breakpoint
@use "abstracts/mixins/scroll-lock" as *
@use "abstracts/mixins/transition-properties" as *
@use "abstracts/variables/globals" as *

html
  height: 100%
  width: 100%
  scroll-behavior: smooth
  scrollbar-width: thin
  overflow-x: hidden
  scrollbar-gutter: stable

  &[data-drawer="open"]
    @include scroll-lock

body
  min-height: 100vh
  width: 100%
  font-family: var(--font-stack-system)
  font-size: var(--fluid-font-size-normal)
  font-weight: var(--font-weight-normal)
  line-height: var(--line-height-normal)
  color: var(--color-fg-default)
  background: var(--color-bg-default)
  -webkit-font-smoothing: antialiased
  position: relative
  @include transition-properties(background, $duration: $sky-to-duration, $easing: $color-swap-timing-function)

[data-theme=light]
  color-scheme: light

[data-theme=dark]
  color-scheme: dark
