@use "abstracts/tokens" as *
@use "abstracts/mixins/breakpoints" as breakpoint
@use "abstracts/mixins/scroll-lock" as *
@use "abstracts/mixins/transition-properties" as *

html
  height: 100%
  width: 100%
  scrollbar-width: thin
  scrollbar-gutter: stable
  scroll-behavior: smooth
  scroll-padding-top: $header-height
  overflow-x: hidden

  &[data-drawer="open"]
    @include scroll-lock

body
  min-height: 100vh
  width: 100%
  font-family: $font-stack-system
  font-size: $fluid-font-size-base
  font-weight: $font-weight-base
  line-height: $line-height-base
  color: var(--color-fg-default)
  background: var(--color-bg-default)
  -webkit-font-smoothing: antialiased
  position: relative
  @include transition-properties((background, color), $duration: $color-swap-duration, $easing: $color-swap-timing-function)

[data-theme=light]
  color-scheme: light

[data-theme=dark]
  color-scheme: dark
