.site-footer
  text-align: center
  padding: var(--fluid-space-md)
  border-top: var(--border-default)
  background-color: var(--color-bg-muted)
  color: var(--color-fg-default)
  max-width: 100%
  font-size: var(--font-size-sm)

  .site-copyright
    font-size: var(--font-size-sm)

    p
      margin-block: var(--space-none)

  .site-credits
    margin-top: var(--space-xxs)
    font-size: var(--font-size-xs)
    color: var(--color-fg-muted)

    .love
      color: var(--color-bg-danger-emphasis)
