.site-footer
  text-align: center
  padding: 1rem
  border-top: var(--border-default)
  background-color: var(--color-bg-muted)
  color: var(--color-fg-default)
  max-width: 100%
  font-size: var(--font-size-sm)

  @media (max-width: 768px)
    padding: 0.75rem 1rem

  .site-copyright
    font-size: var(--font-size-sm)

    p
      margin-block: 0

  .site-credits
    margin-top: 0.25rem
    font-size: var(--font-size-xs)
    color: var(--color-fg-muted)

    .love
      color: var(--color-bg-danger-emphasis)
