@use "abstracts/tokens" as *
@use "abstracts/mixins/breakpoints" as breakpoint

.site-footer
  background: var(--color-bg-transparent)
  color: var(--color-fg-accent-muted)
  font-size: $font-size-sm
  padding: $fluid-space-md
  margin-block-start: $space-base

  .footer-grid
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-template-areas: "misc social" "legal credits"
    gap: $space-base $space-md
    align-items: center

    @include breakpoint.max(md)
      grid-template-columns: 1fr
      grid-template-areas: "misc" "legal" "social" "credits"

  .footer-section
    display: flex
    gap: $space-base
    flex-wrap: wrap

    @include breakpoint.max(md)
      justify-content: center

  .footer-links
    grid-area: misc

  .footer-social
    grid-area: social
    justify-content: end
    gap: $space-base

    @include breakpoint.max(md)
      justify-content: center

  .footer-legal
    grid-area: legal

  .footer-credits
    grid-area: credits
    justify-content: end

    @include breakpoint.max(md)
      justify-content: center

  .footer-link
    color: inherit
    text-decoration: none
    padding-block: $space-xxs

    &:hover
      color: var(--color-fg-default)
