@use "abstracts/tokens" as *
@use "abstracts/mixins/transition-properties" as *
@use "abstracts/mixins/breakpoints" as breakpoint

.page-wrapper
  position: relative
  display: flex
  flex-direction: column
  min-height: 100dvh
  z-index: 1

.main-content
  flex: 1
  padding: $fluid-space-md
  max-width: 100dvw

.container
  width: 100%
  max-width: clamp(var(--min-width, 37.5rem), 90%, var(--max-width, 75rem))
  margin-inline: auto

.content-wrapper
  width: 100%
  max-width: 65ch
  margin-inline: auto
  padding-inline: $space-base
