@use "abstracts/mixins/transition-properties" as *
@use "abstracts/mixins/breakpoints" as breakpoint

.page-wrapper
  display: grid
  grid-template-rows: auto 1fr auto
  grid-template-areas: "header" "main" "footer"
  position: relative
  min-height: 100dvh

.main-content
  grid-area: main
  padding: var(--fluid-space-md)
  overflow-x: hidden
  max-width: 100dvw

.container
  width: 100%
  max-width: clamp(600px, 90%, 1100px)
  margin-inline: auto

.content-wrapper
  width: 100%
  max-width: 65ch
  margin-inline: auto
  padding-inline: var(--space-base)
