@use "abstracts/mixins/responsive-layout" as *

.main-content
  flex: 1
  padding: 1rem
  @include sidebar-responsive-layout

  &[data-sidebar="open"]
    padding: 1rem

.container
  width: 100%
  max-width: clamp(600px, 90%, 1200px)
  margin-inline: auto
