@use "abstracts/tokens" as *
@use "abstracts/mixins/transition-properties" as *
@use "abstracts/mixins/breakpoints" as breakpoint
@use "abstracts/animations/scooch" as *
@use "abstracts/animations/self-draw" as *
@use "abstracts/animations/fade-in" as *

.site-header
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  position: sticky
  inset: $space-none $space-none auto
  z-index: 10
  height: $header-height
  padding: $fluid-space-md
  background: var(--color-bg-transparent)
  color: var(--color-fg-accent-muted)
  gap: $space-md

  @include transition-properties((background, backdrop-filter), $duration: 350ms, $easing: cubic-bezier(0.41, 0.1, 0.13, 1))

  @include breakpoint.max(md)
    gap: $space-sm
    justify-content: space-between
    min-height: $header-height
    height: auto

.glassy-backdrop
  --glass-color: hsl(from var(--color-bg-sky-from) h s l / var(--glass-opacity, $opacity-none))
  background: var(--glass-color)
  backdrop-filter: blur(var(--blur-amount, $blur-none))

[data-is-over-threshold]
  --glass-color: hsl(from var(--color-bg-default) h s l / var(--glass-opacity, $opacity-none))

.site-logo
  display: flex
  align-items: center
  gap: $space-sm
  font-weight: $font-weight-bold
  font-size: $font-size-md
  color: inherit

  &:hover
    color: var(--color-fg-default)
    text-decoration: none

  .site-name
    font-size: $font-size-md
    font-weight: $font-weight-medium
    letter-spacing: 0.02em
    display: inline-flex
    gap: 0.25rem

    .first-name
      display: inline-block
      animation: scooch-left $motion-duration-default $motion-easing-overshoot $motion-delay-long both
      color: var(--color-fg-accent)

    .last-name
      display: inline-block
      animation: scooch-right $motion-duration-default $motion-easing-overshoot $motion-delay-extra-long both
      color: var(--color-fg-accent)

    .middle-name-initial
      position: relative
      display: inline-block
      width: 12px

    .v-char
      position: absolute
      left: 2px
      top: 0

    .v-path
      stroke-dasharray: 100
      stroke-dashoffset: 100
      animation: self-draw $motion-duration-ultra-slow $motion-easing-overshoot calc($motion-delay-extra-long + $motion-duration-default) forwards

.nav-links
  display: flex
  gap: $space-sm
  flex: 1 1 auto

  .nav-link
    display: inline-flex
    align-items: center
    gap: $space-sm
    text-decoration: none
    font-size: $font-size-sm
    color: inherit
    padding-block: $space-xs
    padding-inline: $space-sm

    &:hover
      color: var(--color-fg-default)

  @include breakpoint.max(md)
    display: none

.header-actions
  display: flex
  align-items: center
  gap: $space-sm

  .header-action
    border-radius: $border-radius-full
    background-color: var(--color-bg-control-transparent)
    color: inherit
    border: $border-width-default solid var(--color-border-control-transparent)
    padding: $space-sm
    font-size: $fluid-font-size-sm
    font-weight: $font-weight-semi-bold

    &:hover,
    &:focus
      background-color: var(--color-bg-control-transparent)
      border-color: var(--color-border-control-transparent-hover)

.toggle-menu
  display: none

  @include breakpoint.max(md)
    display: block

  .icon-hamburger
    @include transition-properties(transform, $duration: $motion-duration-default, $easing: $motion-easing-smooth)

    @at-root [data-drawer="open"] &
      transform: scale(1.5)

      .toggle-menu:active
        .icon-hamburger
          transform: scale(1.5)
