mark
  background-color: var(--color-bg-attention-muted)
  color: var(--color-fg-default)

abbr[title]
  text-decoration: underline dotted
  cursor: help
  border-bottom: none

.lead
  font-size: var(--fluid-font-size-lg)
  font-weight: var(--font-weight-light)
  line-height: var(--line-height-relaxed)

.note
  min-height: 17px
  margin: var(--space-xs) var(--space-none) var(--space-xxs)
  font-size: var(--font-size-sm)
  color: var(--color-fg-muted)

.initialism
  font-size: var(--font-size-xs)
  text-transform: uppercase

small
  font-size: var(--font-size-xs)
  line-height: var(--line-height-tight)
