mark
  background-color: var(--bgColor-attention-muted)
  color: var(--fgColor-default)

abbr[title]
  text-decoration: underline dotted
  cursor: help
  border-bottom: 0

.lead
  font-size: clamp(1rem, 1vw, 1.125rem)
  font-weight: 300

.note
  min-height: 17px
  margin: 0.25rem 0 2px
  font-size: clamp(0.875rem, 2vw, 1rem)
  color: var(--fgColor-muted)

.initialism
  font-size: .875em
  text-transform: uppercase

small
  font-size: .875em
