@use "abstracts/tokens" as *

mark
  background-color: var(--color-bg-attention-muted)
  color: var(--color-fg-default)

abbr[title]
  text-decoration: underline dotted
  cursor: help
  border-bottom: none

.lead
  font-size: $fluid-font-size-lg
  font-weight: $font-weight-light
  line-height: $line-height-relaxed

.note
  min-height: 17px
  margin: $space-xs $space-none $space-xxs
  font-size: $font-size-sm
  color: var(--color-fg-muted)

.initialism
  font-size: $font-size-xs
  text-transform: uppercase

small
  font-size: $font-size-xs
  line-height: $line-height-tight

::selection
  background-color: var(--color-bg-selection)
  color: var(--color-fg-selection)
