@use "abstracts/tokens" as *
@use "abstracts/mixins/break-word" as *

blockquote
  padding-inline: 1em
  color: var(--color-fg-muted)
  border-left: $border-width-thick solid var(--color-border-default)
  margin-bottom: $space-base
  line-height: $line-height-relaxed

  @include break-word()

  p
    padding: $space-sm

  &:first-child
    margin-bottom: $space-none

  &:last-child
    margin-top: $space-none
