@use "abstracts/mixins/break-word" as *

blockquote
  padding-inline: 1em
  color: var(--color-fg-muted)
  border-left: var(--border-width-thick) solid var(--color-border-default)
  margin-bottom: var(--space-base)
  line-height: var(--line-height-relaxed)

  @include break-word()

  p
    padding: var(--space-sm)

  &:first-child
    margin-bottom: var(--space-none)

  &:last-child
    margin-top: var(--space-none)
