@use "abstracts/mixins/break-word" as *

blockquote
  padding: 0 1em
  color: var(--color-fg-muted)
  border-left: var(--border-width-thick) solid var(--color-border-default)
  margin-top: 0
  margin-bottom: 1rem
  line-height: var(--line-height-relaxed)

  @include break-word()

  p
    padding: 0.5rem

  &:first-child
    margin-bottom: 0

  &:last-child
    margin-top: 0
