@use "abstracts/tokens" as *

code,
pre
  font-family: $font-stack-monospace
  font-size: $font-size-sm
  white-space: pre
  border-radius: $border-radius-default
  line-height: $line-height-code

code.highlighter-rouge,
.alert code
  font-size: inherit
  background-color: var(--color-bg-neutral-muted)
  padding: 0.2em 0.4em 0.1em
  line-height: $line-height-base

code.filepath
  background-color: inherit
  font-weight: $font-weight-semi-bold
  padding: 0

figure.highlight,
.highlight
  background-color: var(--color-bg-muted)

  code
    display: block
    width: 100%

pre:not(:has(.rouge-table))
  padding: $space-base
  overflow-x: auto

kbd
  font-family: $font-stack-monospace
  font-size: $font-size-sm
  display: inline-block
  padding: $space-xxxs $space-xs
  line-height: $line-height-tight
  color: var(--color-fg-default)
  vertical-align: middle
  background-color: var(--color-bg-muted)
  border: $border-muted
  border-radius: $border-radius-default
  box-shadow: inset 0 -2px 0 var(--color-border-muted)
