code, pre, tt
  font-family: source-code-pro, Menlo, Monaco, "Courier New", Courier, monospace
  font-size: clamp(13px, 1.4vw, 15px)
  white-space: break-spaces
  border-radius: 6px

code.highlighter-rouge
  font-size: inherit
  background-color: var(--bgColor-neutral-muted)
  padding: 0.2em 0.4em

figure.highlight,
.highlight
  background-color: var(--bgColor-muted)

pre
  padding: 1rem
  overflow-x: auto

kbd
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace
  font-size: clamp(12px, 1.2vw, 14px)
  display: inline-block
  padding: 0.25rem
  line-height: 1.2
  color: var(--fgColor-default)
  vertical-align: middle
  background-color: var(--bgColor-muted)
  border: 1px solid var(--borderColor-muted)
  border-radius: 6px
  box-shadow: inset 0 -2px 0 var(--borderColor-muted)
