details
  margin-block: var(--space-base)

  summary
    cursor: pointer
    display: list-item
    font-weight: var(--font-weight-medium)

  &[open]
    summary
      font-weight: var(--font-weight-semi-bold)

  p
    margin-top: var(--fluid-space-sm)
