@use "abstracts/tokens" as *

details
  margin-block: $space-base

  summary
    display: flex
    align-items: center
    gap: .5rem
    list-style: none
    cursor: pointer
    font-weight: $font-weight-medium

    &::-webkit-details-marker,
    &::marker
      display: none

  &[open]
    summary
      font-weight: $font-weight-semi-bold

  p
    margin: $space-none
