@use "abstracts/tokens" as *

details
  margin-block: $space-base

  summary
    cursor: pointer
    display: list-item
    font-weight: $font-weight-medium

  &[open]
    summary
      font-weight: $font-weight-semi-bold

  p
    margin-top: $fluid-space-sm
