figure
  display: block
  margin-block: var(--space-base)
  margin-inline: auto
  max-width: 100%
  border: var(--border-default)
  border-radius: var(--border-radius-default)
  box-shadow: var(--box-shadow-md)

  img
    border-start-start-radius: var(--border-radius-default)
    border-start-end-radius: var(--border-radius-default)

  figcaption
    font-size: var(--font-size-xs)
    color: var(--color-fg-muted)
    font-style: italic
    line-height: var(--line-height-snug)
    padding: var(--space-md)
