@use "abstracts/tokens" as *

.footnotes
  font-size: $font-size-xs
  color: var(--color-fg-muted)
  border-top: $border-default

.footnote-list
  padding-left: $fluid-space-base

  .footnote-list-item
    position: relative

    &:target
      color: var(--color-fg-default)

      &:before
        position: absolute
        pointer-events: none
        content: ""
        border: $border-width-medium solid var(--color-border-accent-emphasis)
        border-radius: $border-radius-default
        inset: calc(-1 * $space-xs) 0.0625rem calc(-1 * $space-xs) calc(-1 * $space-lg)

.footnote
  font-size: $font-size-xs

  &:before
    content: "["

  &:after
    content: "]"

.reverse-footnote
  @at-root a#{&}
    font-size: $font-size-xs
    line-height: $line-height-tight
    position: relative
    bottom: 0.25em
    margin-left: 0.25em
    border-bottom-style: none !important
    text-decoration: none
