.footnote
  font-size: clamp(0.6875rem, 0.9vw, 0.75rem)

  &:before
    content: "["

  &:after
    content: "]"

.footnotes
  font-size: clamp(0.6875rem, 0.9vw, 0.75rem)
  color: var(--fgColor-muted)
  border-top: 1px solid var(--borderColor-default)

  li
    position: relative

    &:target
      color: var(--fgColor-default)
      border: 1px solid var(--borderColor-accent-emphasis)
      border-radius: 0.5rem
      background-color: var(--bgColor-muted)
      padding: 0.5rem
      list-style-position: inside

    .reversefootnote
      text-decoration: none
    p
      margin-block: 0.5rem
      display: inline

.reversefootnote
  @at-root a#{&}
    font-size: 0.6rem
    line-height: 1
    position: relative
    bottom: 0.25em
    margin-left: 0.25em
    border-bottom-style: none !important
