.footnotes
  font-size: clamp(0.6875rem, 0.9vw, 0.75rem)
  color: var(--color-fg-muted)
  border-top: var(--border-default)

  ol
    padding-left: 1.5rem

  li
    position: relative

    &:target
      color: var(--color-fg-default)

      &:before
        position: absolute
        pointer-events: none
        content: ""
        border: var(--border-width-medium) solid var(--color-border-accent-emphasis)
        border-radius: var(--border-radius-default)
        inset: -0.25rem -.25rem -.25rem -1.5rem

.footnote
  font-size: clamp(0.6875rem, 0.9vw, 0.75rem)

  &:before
    content: "["

  &:after
    content: "]"

.reverse-footnote
  @at-root a#{&}
    font-size: 0.6em
    line-height: var(--line-height-tight)
    position: relative
    bottom: 0.25em
    margin-left: 0.25em
    border-bottom-style: none !important
    text-decoration: none
