@use "sass:map"
@use "abstracts/tokens/typography" as *
@use "abstracts/modules/heading" as *

@for $level from 1 through 6
  h#{$level},
  .h#{$level}
    @extend %heading

    font-size: map.get($heading-sizes, h#{$level})

    @if $level == 1
      font-weight: $font-weight-bold
    @else if $level == 2
      font-weight: $font-weight-semi-bold
    @else if $level == 3 or $level == 4
      font-weight: $font-weight-medium
    @else
      font-weight: $font-weight-base

  h#{$level},
  .h#{$level}
    @if $level == 1
      text-wrap: pretty
    @else
      text-wrap: balance
