@use "abstracts/mixins/breakpoints" as breakpoint

img
  object-fit: cover

.img-fluid
  max-width: 100%
  height: auto

.img-link
  color: var(--color-bg-transparent)
  display: inline-flex

.cover-image
  aspect-ratio: 16 / 9

.markdown-img-wrapper
  overflow: auto

svg
  display: inline-block
  text-decoration: inherit
  text-rendering: auto
  text-transform: none
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  speak: none
  width: 1.5em
  height: 1.5em
  fill: currentColor
  vertical-align: middle

.profile-pic
  width: var(--size-exa)
  height: var(--size-exa)
  border-radius: var(--border-radius-full)
  object-fit: cover
  box-shadow: var(--box-shadow-avatar)
  border: var(--border-width-default) solid var(--color-border-translucent)

  @include breakpoint.max(md)
    width: var(--size-tera)
    height: var(--size-tera)
