img
  max-width: 100%
  height: auto
  object-fit: cover
  border-radius: var(--border-radius-default)
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5)

svg
  display: inline-block
  text-decoration: inherit
  text-rendering: auto
  text-transform: none
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  speak: none
  width: 1.5em
  height: 1.5em
  fill: currentColor

.profile-pic
  width: var(--size-exa)
  height: var(--size-exa)
  border-radius: var(--border-radius-full)
  object-fit: cover
  box-shadow: var(--box-shadow-avatar)
  border: var(--border-width-default) solid var(--color-border-translucent)

  @media (max-width: 768px)
    width: var(--size-tera)
    height: var(--size-tera)
