@use "abstracts/modules/text-underline" as *

a
  color: var(--color-fg-link)
  text-decoration: none

  &:hover, &:focus-visible
    @extend %text-underline
    text-decoration-color: var(--color-fg-link)

  // &:visited
  //   color: var(--color-fg-link-visited)
  //
