@use "abstracts/tokens" as *
@use "abstracts/mixins/break-word" as *

ul,
ol
  margin-block: $space-sm
  padding-left: 2em
  line-height: $line-height-base

  // ol
  //   margin-block: 0.5rem

  li
    margin-bottom: $space-sm

    @include break-word()

li
  &:last-of-type
    margin-bottom: $space-none

dl
  padding: $space-none
  margin-top: $space-none
  margin-bottom: $space-base
  line-height: $line-height-base

  dt
    padding: $space-none
    margin-top: $space-base
    font-style: italic
    font-weight: $font-weight-semi-bold

  dd
    padding-inline: $space-base
    margin-bottom: $space-base

    > *
      @include break-word()
