@use "abstracts/mixins/break-word" as *

ul,
ol
  margin-block: var(--space-sm)
  padding-left: 2em
  line-height: var(--line-height-normal)

  // ol
  //   margin-block: 0.5rem

  li
    margin-bottom: var(--space-sm)

    @include break-word()

li
  &:last-of-type
    margin-bottom: var(--space-none)

dl
  padding: var(--space-none)
  margin-top: var(--space-none)
  margin-bottom: var(--space-base)
  line-height: var(--line-height-normal)

  dt
    padding: var(--space-none)
    margin-top: var(--space-base)
    font-style: italic
    font-weight: var(--font-weight-semi-bold)

  dd
    padding-inline: var(--space-base)
    margin-bottom: var(--space-base)

    > *
      @include break-word()
