@use "abstracts/modules/no-cursor" as *

table
  display: block
  margin-bottom: 1rem
  width: max-content
  max-width: 100%
  border-collapse: collapse
  overflow: auto

  th
    font-weight: var(--font-weight-semi-bold)
    line-height: var(--line-height-tight)

  td
    line-height: var(--line-height-snug)

  td,
  th
   padding: 8px 16px
   border: var(--border-default)
   text-align: inherit

  tr
    background-color: var(--color-bg-default)
    border-top: var(--border-muted)

    &:nth-child(2n)
      background-color: var(--color-bg-muted)

.rouge-table
  table-layout: fixed
  margin-bottom: 0
  width: 100%

  tr
    border-top: none
    background-color: var(--color-bg-default)

  td
    vertical-align: top
    padding: 0
    border: none

  .gutter
    position: sticky
    left: 0
    text-align: right
    z-index: 1
    background-color: var(--color-bg-muted)
    color: var(--color-fg-muted)

    @extend %no-cursor

  .code
    width: 100%
    background-color: var(--color-bg-default)
