@use "abstracts/modules/clearfix"
@use "abstracts/mixins/breakpoints" as breakpoint

hr
  border: none
  height: 1px
  background: linear-gradient(to right, transparent, var(--color-border-default), transparent)
  margin-block: var(--fluid-space-md)

.clearfix
  @extend %clearfix

:focus,
:focus-visible
  outline: var(--outline-focus-width) solid var(--color-outline-focus)
  outline-offset: var(--outline-focus-offset)

:focus:not(:focus-visible)
  outline: var(--outline-none)
  box-shadow: var(--box-shadow-none)

:disabled,
.disabled,
[aria-disabled=true]
  box-shadow: var(--box-shadow-none)
  cursor: not-allowed !important
  pointer-events: none

#mask
  display: none
  position: fixed
  inset: var(--space-none)
  height: 100%
  width: 100%
  z-index: 1

  @at-root [data-sidebar="open"] &
    @include breakpoint.max(md)
      display: block

.float-left
  float: left
  margin: var(--space-md) var(--space-base) var(--space-base) var(--space-none) !important

.float-right
  float: right
  margin: var(--space-md) var(--space-none) var(--space-base) var(--space-base) !important
