@use "abstracts/mixins/clearfix" as *

hr
  border: none
  height: 1px
  background: linear-gradient(to right, transparent, var(--color-border-default), transparent)
  margin: 1rem 0

.clearfix
  @include clearfix()

:focus,
:focus-visible
  outline: var(--outline-focus-width) solid var(--color-outline-focus)
  outline-offset: var(--outline-focus-offset)

:focus:not(:focus-visible)
  outline: none
  box-shadow: none

:disabled,
.disabled,
[aria-disabled=true]
  box-shadow: none
  cursor: not-allowed !important

#mask
  display: none
  position: fixed
  inset: 0 0 0 0
  height: 100%
  width: 100%
  z-index: 1

  @at-root [data-sidebar="open"] &
    @media (max-width: 768px)
      display: block
