@use "abstracts/mixins/a11y" as *
@use "abstracts/mixins/transition-properties" as *

@media (prefers-reduced-motion: reduce)
  *
    transition: none
    animation: none

.visually-hidden
  @include visually-hidden()

.skip-link
  position: absolute
  top: -100vh
  left: auto
  z-index: 9999
  padding: var(--space-sm) var(--space-md)
  background-color: var(--color-bg-control)
  color: var(--color-fg-control)
  border: var(--border-width-default) solid var(--color-border-control)
  border-radius: var(--border-radius-default)
  opacity: var(--opacity-none)
  pointer-events: none

  @include transition-properties(top, $duration: var(--motion-duration-fast), $easing: var(--motion-easing-ease))

  &:hover
    background-color: var(--color-bg-control-hover)

  &:focus
    top: var(--space-xl)
    left: var(--space-xl)
    opacity: var(--opacity-full)
    color: var(--color-fg-control)
    pointer-events: auto
    text-decoration: none
