@use "abstracts/tokens" as *
@use "abstracts/mixins/a11y" as *
@use "abstracts/mixins/transition-properties" as *

@media (prefers-reduced-motion: reduce)
  *
    transition: none
    animation: none

.visually-hidden
  @include visually-hidden()

.skip-link
  position: absolute
  top: $space-xl
  left: $space-xl
  z-index: 9999
  padding: $space-sm $space-md
  opacity: $opacity-none
  pointer-events: none
  transform: translateY(-100vh)
  border: $border-width-default solid var(--color-border-control)
  border-radius: $border-radius-default

  @include transition-properties((transform, opacity), $duration: $motion-duration-fast, $easing: $motion-easing-ease)

  &:focus
    color: var(--color-fg-control)
    background-color: var(--color-bg-control-hover)
    border-color: var(--color-border-control)
    transform: translateY(0)
    opacity: $opacity-full
    pointer-events: auto
    text-decoration: none
