/** Border radii **/
$border-radius-none: 0
$border-radius-xs: 0.125rem
$border-radius-sm: 0.1875rem
$border-radius-md: 0.375rem
$border-radius-lg: 0.75rem
$border-radius-xl: 1rem
$border-radius-xxl: 1.5rem
$border-radius-pill: 50rem
$border-radius-full: 624.9375rem
$border-radius-default: $border-radius-md

/** Border widths **/
$border-width-none: 0
$border-width-hairline: 0.03125rem
$border-width-thin: 0.0625rem
$border-width-medium: 0.125rem
$border-width-thick: 0.25rem
$border-width-extra-thick: 0.5rem
$border-width-default: $border-width-thin

/** Borders **/
$border-default: $border-width-default solid var(--color-border-default)
$border-muted: $border-width-default solid var(--color-border-muted)
$border-neutral-muted: $border-width-default solid var(--color-border-neutral-muted)
$border-accent-emphasis: $border-width-default solid var(--color-border-accent-emphasis)
$border-accent-muted: $border-width-default solid var(--color-border-accent-muted)
$border-attention-emphasis: $border-width-default solid var(--color-border-attention-emphasis)
$border-attention-muted: $border-width-default solid var(--color-border-attention-muted)
$border-danger-emphasis: $border-width-default solid var(--color-border-danger-emphasis)
$border-danger-muted: $border-width-default solid var(--color-border-danger-muted)
$border-success-emphasis: $border-width-default solid var(--color-border-success-emphasis)
$border-success-muted: $border-width-default solid var(--color-border-success-muted)
$border-disabled: $border-width-default solid var(--color-border-disabled)
