$color-swap-duration: 350ms
$sky-duration: calc($color-swap-duration + 300ms)
$sky-from-duration: calc($color-swap-duration + 500ms)
$sky-to-duration: calc($color-swap-duration + 350ms)
$swoop-duration: calc($color-swap-duration + 200ms)
$first-swoop-duration: calc($color-swap-duration + 120ms)
$second-swoop-duration: calc($color-swap-duration + 240ms)
$third-swoop-duration: calc($color-swap-duration + 360ms)

$color-swap-timing-function: cubic-bezier(0.41, 0.1, 0.13, 1)

$header-height: 5rem
